## Settings file was created by plugin Accessory Parents v1.6
## Plugin GUID: Accessory_Parents

[Grouping ID]

## Requires restarting maker
# Setting type: String
# Default value: 1
Grouping ID = 1

[Setting]

## Requires restarting maker
# Setting type: Boolean
# Default value: true
Enable = true

