## Settings file was created by plugin Accessory States v1.6
## Plugin GUID: Accessory_States

[Grouping ID]

## Requires restarting maker
# Setting type: String
# Default value: 2
Grouping ID = 2

[Setting]

## Requires restarting maker
# Setting type: Boolean
# Default value: true
Enable = true

## Save ASS format as well.
# Setting type: Boolean
# Default value: true
Accessory State Sync Save = true

