## Settings file was created by plugin Accessory Themes v1.6
## Plugin GUID: Accessory_Themes

[Grouping ID]

## Requires restarting maker
# Setting type: String
# Default value: 3
Grouping ID = 3

[Setting]

## Requires restarting maker
# Setting type: Boolean
# Default value: true
Enable = true

