## Settings file was created by plugin Additional Card Info v1.5
## Plugin GUID: Additional_Card_Info

[Grouping ID]

## Requires restarting maker
# Setting type: String
# Default value: 4
Grouping ID = 4

[User]

## Default Creator name for those who make a lot of coordinates
# Setting type: String
# Default value: 
Creator = 

