## Settings file was created by plugin Enable Resize v3.0
## Plugin GUID: BepInEx.EnableResize

[Config]

## Whether to allow the game window to be resized.
# Setting type: Boolean
# Default value: false
Enable Resize = false

