## Settings file was created by plugin CrossFader v0.11
## Plugin GUID: bero.crossfader

[]

## Enable smooth fade between animations. 
## Choose "VR only" if you only want it enabled in official VR
# Setting type: Mode
# Default value: On
# Acceptable values: On, VR, Off
Enable Crossfade = On

[Advanced]

## Disable crossfade in non-VR 3P intercourse to prevent conflict with the mono.dll used for dnSpy debugging.
## Keep this enabled unless you're sure that you do not have the modified dll in place.
## Requires restarting the game to take effect.
# Setting type: Boolean
# Default value: true
Debugger Crash Workaround = true

