## Settings file was created by plugin Boop v2.1
## Plugin GUID: Boop

[General]

# Setting type: Boolean
# Default value: true
Run in Studio = true

# Setting type: Boolean
# Default value: true
Run in Main Game = true

# Setting type: Boolean
# Default value: false
Run in Dynamic Bones Editor = false

[Mouse booping]

# Setting type: Int32
# Default value: 100
Distance = 100

# Setting type: Single
# Default value: 0.5
Damping = 0.5

# Setting type: Single
# Default value: 0.0002
Scaling = 0.0002

