## Settings file was created by plugin Bulge in the pants, tent in the woods v1.0.2
## Plugin GUID: Bulge

[Default settings]

## Default size of bulges if not specified per-character (in Body/Genitals tab in character maker).
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Default bulge size = 0.5

## Should bulges be enabled if not specified per-character (in Body/Genitals tab in character maker).
## Auto will only apply bulges to characters with shlogns. Always will apply no matter what, and Never will not apply unless you enable it per-character.
# Setting type: BulgeEnableLevel
# Default value: Auto
# Acceptable values: Auto, Always, Never
Enable bulge by default = Auto

