## Settings file was created by plugin Cheat Tools v3.6
## Plugin GUID: CheatTools

[Cheats]

## Reload the H scene to see changes.
# Setting type: Boolean
# Default value: false
Unlock all H positions = true

## This will unlock all positions even if they should not be possible.
## WARNING: Can result in bugs and even game crashes in some cases.
## Reload the H scene to see changes.
# Setting type: Boolean
# Default value: false
Unlock invalid H positions as well = false

[Hotkeys]

Toggle player noclip = 

Toggle cheat window = Pause

