## Settings file was created by plugin Clothing State Menu v5.2
## Plugin GUID: ClothingStateMenu

[General]

## Show the clothing state menu in character maker. Can be enabled from maker interface or by pressing the keyboard shortcut.
# Setting type: Boolean
# Default value: false
Show in Character Maker = false

## Tint of the background color of the clothing state menu (subtle change). When mouse cursor hovers over the menu, transparency is forced to 1.
# Setting type: Color
# Default value: 00000080
Background Color = 00000080

## Keyboard shortcut to toggle the clothing state menu on and off.
## Can be used outside of character maker in some cases - works for males in H scenes (the male has to be visible for the menu to appear) and in some conversations with girls.
# Setting type: KeyboardShortcut
# Default value: Tab + LeftShift
Toggle clothing state menu = Tab + LeftShift

Show coordinate change buttons in Character Maker = false

[Options]

## Move the vanilla shoe type buttons from the sidebar to the plugin menu.
# Setting type: Boolean
# Default value: false
Move Shoe Type Buttons = false

## Show in the toggle list whether an accessory's category is Main (M) or Sub (S).
# Setting type: Boolean
# Default value: true
Show Main/Sub acc type in list = true

## Move the vanilla "Main" and "Sub" accessory toggle buttons from the sidebar to the plugin menu.
# Setting type: Boolean
# Default value: false
Move Vanilla Acc Buttons = false

## Acc slots toggled off in one outfit will remain toggled off in others.
## If disabled, the accs sync up to the vanilla buttons on outfit change.
# Setting type: Boolean
# Default value: false
Retain Acc States Between Outfits = false

## Adds buttons to the menu that allow quickly switching between clothing sets. Same as using the clothing dropdown.
## The buttons are always shown outside of character maker.
# Setting type: Boolean
# Default value: false
Show coordinate change buttons in Character Maker = false

