## Settings file was created by plugin Text Resource Redirector v1.4.4.3
## Plugin GUID: com.deathweasel.bepinex.textresourceredirector

[ChaListDataHandler]

## Handle TextAsset assets with ChaListData packed inside
# Setting type: Boolean
# Default value: true
Enabled = true

## Register strings replaced by ChaListDataHandler as text translations with XUnity Auto Translator
# Setting type: Boolean
# Default value: true
Register as Translations = true

[EventInfoHandler]

## Handle EventInfo assets
# Setting type: Boolean
# Default value: true
Enabled = true

## Register strings replaced by EventInfoHandler as text translations with XUnity Auto Translator
# Setting type: Boolean
# Default value: true
Register as Translations = true

[ExcelDataHandler]

## Handle ExcelData assets
# Setting type: Boolean
# Default value: true
Enabled = true

[MakerCustomDataHandler]

## Handle ExcelData assets
# Setting type: Boolean
# Default value: true
Enabled = true

## Register strings replaced by MakerCustomDataHandler as text translations with XUnity Auto Translator
# Setting type: Boolean
# Default value: true
Register as Translations = true

[MapInfoHandler]

## Handle MapInfo assets
# Setting type: Boolean
# Default value: true
Enabled = true

## Register strings replaced by MapInfoHandler as text translations with XUnity Auto Translator
# Setting type: Boolean
# Default value: true
Register as Translations = true

[NickNameHandler]

## Handle NickName assets
# Setting type: Boolean
# Default value: true
Enabled = true

## Register strings replaced by NickNameHandler as text translations with XUnity Auto Translator
# Setting type: Boolean
# Default value: true
Register as Translations = true

[ScenarioDataHandler]

## Handle ScenarioData assets
# Setting type: Boolean
# Default value: true
Enabled = true

[Settings]

## Enable additional low level debug log messages
# Setting type: Boolean
# Default value: false
Enable Tracing = false

[Text Formatter]

## Use whitespace based text reflow for non-Japanese languages.
# Setting type: Boolean
# Default value: true
Alternate Text Reflow = true

[TextAssetTableHandler]

## Handle TextAsset assets containing tables
# Setting type: Boolean
# Default value: true
Enabled = true

