## Settings file was created by plugin Studio MultiSelect Chara v1.0.0.2
## Plugin GUID: com.gebo.BepInEx.studiomultiselectchara

[Config]

## Whether the plugin is enabled
# Setting type: Boolean
# Default value: true
Enabled = true

## When enabled, notification sounds will play when selection is complete
# Setting type: Boolean
# Default value: true
Notification Sounds = true

[Keyboard Shortcuts]

## Select all instances of the currently selected character
# Setting type: KeyboardShortcut
# Default value: Tab + LeftShift
Perform multi-select = Tab + LeftShift

