## Settings file was created by plugin Studio Object Move Hotkeys v1.0
## Plugin GUID: com.deathweasel.bepinex.studioobjectmovehotkeys

[Keyboard Shortcuts]

## Key for moving objects in Studio. Select an object or node then press and hold the key while moving the mouse.
# Setting type: KeyboardShortcut
# Default value: Y
Hotkey X = Y

## Key for moving objects in Studio. Select an object or node then press and hold the key while moving the mouse.
# Setting type: KeyboardShortcut
# Default value: U
Hotkey Y = U

## Key for moving objects in Studio. Select an object or node then press and hold the key while moving the mouse.
# Setting type: KeyboardShortcut
# Default value: I
Hotkey Z = I

## Key for moving objects in Studio. Select an object or node then press and hold the key while moving the mouse.
# Setting type: KeyboardShortcut
# Default value: T
Hotkey All = T

