## Settings file was created by plugin Uncensor Selector v3.12.3
## Plugin GUID: com.deathweasel.bepinex.uncensorselector

[Config]

## Whether or not genderbender characters are allowed. When disabled, girls will always have a female body with no penis, boys will always have a male body and a penis. Genderbender characters will still load in Studio for scene compatibility.
# Setting type: Boolean
# Default value: true
Genderbender Allowed = false

## Whether separate exclusion lists will be used for studio (requires restart)
# Setting type: Boolean
# Default value: false
Use separate exclusions for studio = false

## Body to use if the character does not have one set. The censored body will not be selected randomly if there are any alternatives.
# Setting type: String
# Default value: Random
# Acceptable values: Random, [Female] Amputee, [Female] BP Clit 2 Game, [Female] BP Clit 2 Studio, [Female] BP Innie Game, [Female] BP Innie Studio, [Female] BP Profundis Game, [Female] BP Profundis Studio, [Female] BP Roastie Game, [Female] BP Roastie Studio, [Female] Default Body F, [Female] EV Muscle ARM, [Female] EV Muscle LEG, [Female] EV Muscle SFF, [Female] KK LO Pussy, [Female] Moderchan, [Female] Outlined_Slit1, [Female] Outlined_Slit2, [Female] Outlined_Slit3, [Female] Profundis, [Female] SAC Clit, [Female] SAC Clit2, [Female] SAC Gash, [Female] SAC Gash 2, [Female] SAC Innie, [Female] SAC Innie2, [Female] SAC Kupaa, [Female] SAC Meaty, [Female] SAC Meaty 2, [Female] SAC Puffy, [Female] SAC Roastie, [Female] SAC Roastie 2, [Female] SAC Roastie 3, [Female] SAC Slit, [Male] Default Body M, [Male] EV Muscle MALE
Default Male Body = Random

## Penis to use if the character does not have one set. The mosaic penis will not be selected randomly if there are any alternatives.
# Setting type: String
# Default value: Random
# Acceptable values: Random, BP Bubblegum, BP Cartoon Uncensor, BP SAC Dong, BP SoS, Bubblegum, Cartoon Uncensor, Hansh Horse, Lizard Dong, Mosaic Penis, SAC Dong, SoS
Default Male Penis = Random

## Balls to use if the character does not have one set. The mosaic balls will not be selected randomly if there are any alternatives.
# Setting type: String
# Default value: Random
# Acceptable values: Random, BP Balls, BP DA Balls, Color Matching Balls, DA Color Matching Balls, Mosaic Balls
Default Male Balls = Random

## Body to use if the character does not have one set. The censored body will not be selected randomly if there are any alternatives.
# Setting type: String
# Default value: Random
# Acceptable values: Random, [Female] Amputee, [Female] BP Clit 2 Game, [Female] BP Clit 2 Studio, [Female] BP Innie Game, [Female] BP Innie Studio, [Female] BP Profundis Game, [Female] BP Profundis Studio, [Female] BP Roastie Game, [Female] BP Roastie Studio, [Female] Default Body F, [Female] EV Muscle ARM, [Female] EV Muscle LEG, [Female] EV Muscle SFF, [Female] KK LO Pussy, [Female] Moderchan, [Female] Outlined_Slit1, [Female] Outlined_Slit2, [Female] Outlined_Slit3, [Female] Profundis, [Female] SAC Clit, [Female] SAC Clit2, [Female] SAC Gash, [Female] SAC Gash 2, [Female] SAC Innie, [Female] SAC Innie2, [Female] SAC Kupaa, [Female] SAC Meaty, [Female] SAC Meaty 2, [Female] SAC Puffy, [Female] SAC Roastie, [Female] SAC Roastie 2, [Female] SAC Roastie 3, [Female] SAC Slit, [Male] Default Body M, [Male] EV Muscle MALE
Default Female Body = Random

## Penis to use if the character does not have one set. The mosaic penis will not be selected randomly if there are any alternatives.
# Setting type: String
# Default value: Random
# Acceptable values: Random, BP Bubblegum, BP Cartoon Uncensor, BP SAC Dong, BP SoS, Bubblegum, Cartoon Uncensor, Hansh Horse, Lizard Dong, Mosaic Penis, SAC Dong, SoS
Default Female Penis = Random

## Balls to use if the character does not have one set. The mosaic balls will not be selected randomly if there are any alternatives.
# Setting type: String
# Default value: Random
# Acceptable values: Random, BP Balls, BP DA Balls, Color Matching Balls, DA Color Matching Balls, Mosaic Balls
Default Female Balls = Random

## Whether balls will be displayed on females if not otherwise configured.
# Setting type: Boolean
# Default value: false
Default Female Balls Display = true

[Random Excluded]

## Body uncensors to exclude from random selection for males
# Setting type: String
# Default value: 
Male Body = moderchan,Outlined Short Slit,KK_LO,Outlined Mid Slit,Outlined Long Slit,anon.profundis,SAC.clit,SAC.clit2,SAC.gash,SAC.gash2,SAC.innie,SAC.innie2,SAC.meaty,SAC.meaty2,SAC.puffy,SAC.roastie,SAC.roastie2,SAC.roastie3,SAC.slit

## Penis uncensors to exclude from random selection for males
# Setting type: String
# Default value: 
Male Penis = alexae.bubblegum,lordmogsama.CartoonUncensor,SAC.Dong,SoS,Horse.dick,Lizard.Dong

## Balls uncensors to exclude from random selection for males
# Setting type: String
# Default value: 
Male Balls = balls.color_match,balls.color_match_big

## Body uncensors to exclude from random selection for females
# Setting type: String
# Default value: 
Female Body = moderchan,Outlined Short Slit,KK_LO,Outlined Mid Slit,Outlined Long Slit,anon.profundis,SAC.clit,SAC.clit2,SAC.gash,SAC.gash2,SAC.innie,SAC.innie2,SAC.meaty,SAC.meaty2,SAC.puffy,SAC.roastie,SAC.roastie2,SAC.roastie3,SAC.slit

## Penis uncensors to exclude from random selection for females
# Setting type: String
# Default value: 
Female Penis = alexae.bubblegum,lordmogsama.CartoonUncensor,SAC.Dong,SoS,Horse.dick,Lizard.Dong

## Balls uncensors to exclude from random selection for females
# Setting type: String
# Default value: 
Female Balls = balls.color_match,balls.color_match_big

