## Settings file was created by plugin Translation Cache Cleaner v0.6.0.2
## Plugin GUID: com.gebo.bepinex.translationcachecleaner

[Keyboard Shortcuts]

## Pressing this will attempt to clean your auto-translation cache.
# Setting type: KeyboardShortcut
# Default value: F6 + LeftShift
Clean Cache Hotkey = F6 + LeftShift

