## Settings file was created by plugin GeBo Modding API v1.1.2.1
## Plugin GUID: com.gebo.BepInEx.GeBoAPI

[Developer Settings]

## Leave enabled unless requested otherwise
# Setting type: Boolean
# Default value: true
Enable ObjectPools = true

