## Settings file was created by plugin Animation Controller v2.3
## Plugin GUID: com.deathweasel.bepinex.animationcontroller

[Keyboard Shortcuts]

## Show or hide the Animation Controller window in Studio
# Setting type: KeyboardShortcut
# Default value: Minus
Toggle Animation Controller Window = Minus

