## Settings file was created by plugin KK_WTFix v1.2.3
## Plugin GUID: com.dreamhana.KK_WTFix

[General]

## Plugin will not initialize if disabled. Requires restart if game was started with this disabled.
# Setting type: Boolean
# Default value: true
Enable this plugin. = true

## Will log meaningless messages when WTF conversions happen, so you can know if it's working.
# Setting type: Boolean
# Default value: false
Show console spam. = false

