## Settings file was created by plugin Random Name Provider v2.0.1
## Plugin GUID: com.illusionmods.translationtools.random_name_provider

[Config]

## Load name lists.
# Setting type: Boolean
# Default value: false
Load Names = false

## Write default name lists out to files
# Setting type: Boolean
# Default value: false
Dump Default = false

## Replace names with external name lists (otherwise append to defaults
# Setting type: Boolean
# Default value: false
Replace Mode = false

