## Settings file was created by plugin Studio Scene Loaded Sound v1.1
## Plugin GUID: com.deathweasel.bepinex.studiosceneloadedsound

[Settings]

## Whether to play a sound on scene import
# Setting type: Boolean
# Default value: true
Import Sound = true

## Whether to play a sound on scene load
# Setting type: Boolean
# Default value: true
Load Sound = true

