## Settings file was created by plugin Force High Poly v2.1
## Plugin GUID: com.deathweasel.bepinex.forcehighpoly

[Config]

## Whether or not to load high poly models in the main game roaming mode (has no effect outside of that). Improves quality of characters and fixes some modded items not appearing.
## May require exiting to main menu to take effect.
## None: Original behavior - Some characters may throw errors and walk around with glitched clothing.
## Partial: Use high poly models only if necessary. Higher resource usage and longer load times when using some modded clothes.
## Full: Always use high poly models. Best quality but very high resource usage. At least 8GB of RAM is recommended with ~10 characters. Load times can be 3x longer.
# Setting type: PolyMode
# Default value: Full
# Acceptable values: None, Partial, Full
Force High Poly Models = Full

## Original setting kept due to external dependency, no longer used.
## Use the 'Force High Poly Models' setting instead.
# Setting type: Boolean
# Default value: true
High poly mode = true

