## Settings file was created by plugin Studio Custom Masking v1.2
## Plugin GUID: com.deathweasel.bepinex.studiocustommasking

[Config]

## Color of the collider box drawn when one is selected
# Setting type: Color
# Default value: 00FF00FF
Collider Color = 00FF00FF

## When enabled, newly created masks will be added to the currently selected object rather than added without a parent object.
# Setting type: Boolean
# Default value: true
Add New Masks To Selected Object = true

