## Settings file was created by plugin KKPRim Controller v1.8
## Plugin GUID: com.rikkibalboa.bepinex.kkprimcontroller

[Default Values]

# Setting type: Single
# Default value: 0
Diffuse = 0

# Setting type: Single
# Default value: 0.75
Intensity = 0.75

# Setting type: Single
# Default value: 0
Rotate X = 0

# Setting type: Single
# Default value: 0
Rotate Y = 0

# Setting type: Single
# Default value: 1.5
Soft = 1.5

# Setting type: Single
# Default value: 0
Reflect Mode = 0

# Setting type: Single
# Default value: 0
Use = 0

# Setting type: Color
# Default value: FFFFFFFF
Color = FFFFFFFF

[Keyboard Shortcuts]

## Open a window to control KKPRim values on selected characters/objects
# Setting type: KeyboardShortcut
# Default value: K + RightControl
Open settings window = K + RightControl

[Misc.]

## Hair shaders react differently to higher soft values. This limits the max value to be used on hair shaders
# Setting type: Single
# Default value: 20
Max soft value for hair = 20

