## Settings file was created by plugin Sideloader v21.0
## Plugin GUID: com.bepis.bepinex.sideloader

[General]

## Helps detect bugs in Sideloader and other plugins by making them more obvious. If false, the bugs might not affect current game instance but will suddenly pop up after updating the game or sending scenes/cards to another users.
# Setting type: Boolean
# Default value: true
Randomize Slot IDs = true

## Missing accessories will be replaced by a default item with color and position information intact when loaded in the character maker.
# Setting type: Boolean
# Default value: false
Keep missing accessories = false

## Attempt to change the GUID and/or ID of mods based on the data configured in the manifest.xml. Helps keep backwards compatibility when updating mods.
# Setting type: Boolean
# Default value: true
Migration enabled = true

## Additional directory to load zipmods from.
# Setting type: String
# Default value: 
Additional mods directory = 

## Drastically speeds up game startup speed, especially on slow HDDs, by not parsing zipmods unless they get changed. Disable to force sideloader to always read and parse all zipmods.
# Setting type: Boolean
# Default value: true
Cache zipmod metadata = true

[Logging]

## Whether missing mod warnings will be displayed on screen. Messages will still be written to the log.
# Setting type: Boolean
# Default value: true
Show missing mod warnings = true

## Enable additional logging useful for debugging issues with Sideloader and sideloader mods.
## Warning: Will increase load and save times noticeably and will result in very large log sizes.
# Setting type: Boolean
# Default value: false
Debug logging = false

## Enable verbose logging for debugging issues with Sideloader and sideloader mods.
## Warning: Will increase game start up time and will result in very large log sizes.
# Setting type: Boolean
# Default value: false
Debug resolve info logging = false

## Enable verbose logging when loading mods.
# Setting type: Boolean
# Default value: false
Debug mod loading logging = false

