## Settings file was created by plugin Material Editor v3.13.1
## Plugin GUID: com.deathweasel.bepinex.materialeditor

[Config]

## Controls the size of the window.
# Setting type: Single
# Default value: 1.75
# Acceptable value range: From 1 to 3
UI Scale = 1.46831

## Controls the size of the window.
# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 1
UI Width = 0.3

## Controls the size of the window.
# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 1
UI Height = 0.3

## Controls width of the renderer/materials lists to the side of the window
# Setting type: Single
# Default value: 180
# Acceptable value range: From 100 to 500
UI List Width = 180

## Controls the sensitivity of dragging labels to edit float values
# Setting type: Single
# Default value: 30
# Acceptable value range: From 1 to 100
Drag Sensitivity = 30

## Watch for file changes and reload textures on change. Can be toggled in the UI.
# Setting type: Boolean
# Default value: true
Watch File Changes = true

## Replaces every loaded shader with the MaterialEditor copy of the shader. Reduces the number of copies of shaders loaded which reduces RAM usage and improves performance.
# Setting type: Boolean
# Default value: true
Shader Optimization = true

## When enabled, skinned meshes will be exported in their current state with all customization applied as well as in the current pose.
# Setting type: Boolean
# Default value: false
Export Baked Mesh = false

## When enabled, objects will be exported with their position changes intact so that, i.e. when exporting two objects they retain their position relative to each other.
## Only works when Export Baked Mesh is also enabled.
# Setting type: Boolean
# Default value: false
Export Baked World Position = false

## Textures and models will be exported to this folder. If empty, exports to K:\JUEGOS\KOIKATSU 22\UserData\MaterialEditor
# Setting type: String
# Default value: 
Export Path Override = 

## Persist search filter across editor windows
# Setting type: Boolean
# Default value: false
Persist Filter = false

## Whether to show tooltips or not
# Setting type: Boolean
# Default value: true
Show Tooltips = true

## Whether to sort shader properties by their types.
# Setting type: Boolean
# Default value: true
Sort Properties by Type = true

## Whether to sort shader properties by their names.
# Setting type: Boolean
# Default value: true
Sort Properties by Name = true

## Remove rim lighting for all characters clothes, hair, accessories, etc. Will save modified values to the card.
## 
## Use with caution as it cannot be undone except by manually resetting all the changes.
# Setting type: Boolean
# Default value: false
Remove Rim Lighting = true

## Turning this off will fix cache related issues but may have a negative impact on performance.
# Setting type: Boolean
# Default value: true
Renderer Cache = true

[Keyboard Shortcuts]

## Disable ShadowCasting for all selected items and their child items in Studio, or everything except body renderers in Maker
# Setting type: KeyboardShortcut
# Default value: M + LeftControl
Disable ShadowCasting = M + LeftControl

## Enable ShadowCasting for all selected items and their child items in Studio, or everything except body renderers in Maker
# Setting type: KeyboardShortcut
# Default value: M + LeftAlt
Enable ShadowCasting = M + LeftAlt

## Set ShadowCasting to 'Two Sided' for all selected items and their child items in Studio, or everything except body renderers in Maker
# Setting type: KeyboardShortcut
# Default value: K + LeftAlt
Two Sided ShadowCasting = K + LeftAlt

## Set ShadowCasting to 'Shadows Only' for all selected items and their child items in Studio, or everything except body renderers in Maker
# Setting type: KeyboardShortcut
# Default value: L + LeftAlt
Shadows Only ShadowCasting = L + LeftAlt

## Reset ShadowCasting for all selected items and their child items in Studio, or everything except body renderers in Maker
# Setting type: KeyboardShortcut
# Default value: M + LeftControl + LeftAlt
Reset ShadowCasting = M + LeftControl + LeftAlt

## Disable ReceiveShadows for all selected items and their child items in Studio, or everything except body renderers in Maker
# Setting type: KeyboardShortcut
# Default value: N + LeftControl
Disable ReceiveShadows = N + LeftControl

## Enable ReceiveShadows for all selected items and their child items in Studio, or everything except body renderers in Maker
# Setting type: KeyboardShortcut
# Default value: N + LeftAlt
Enable ReceiveShadows = N + LeftAlt

## Reset ReceiveShadows for all selected items and their child items in Studio, or everything except body renderers in Maker
# Setting type: KeyboardShortcut
# Default value: N + LeftControl + LeftAlt
Reset ReceiveShadows = N + LeftControl + LeftAlt

## Paste any copied edits for all selected items and their child items in Studio
# Setting type: KeyboardShortcut
# Default value: N
Paste Edits = N

## Remove any properties no longer associated with anything on the current outfit
# Setting type: KeyboardShortcut
# Default value: R + LeftShift + LeftControl
Purge Orphaned Properties = R + LeftShift + LeftControl

[Projector]

## Controls the max value of the slider for this projector property
# Setting type: Single
# Default value: 10
# Acceptable value range: From 0.01 to 100
Max Near Clip Plane = 10

## Controls the max value of the slider for this projector property
# Setting type: Single
# Default value: 100
# Acceptable value range: From 0.01 to 100
Max Far Clip Plane = 100

## Controls the max value of the slider for this projector property
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0.01 to 100
Max Orthographic Size = 2

## Controls the max value of the slider for this projector property
# Setting type: Single
# Default value: 180
# Acceptable value range: From 0.01 to 180
Max Field Of View = 180

## Controls the max value of the slider for this projector property
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0.01 to 100
Max Aspect Ratio = 2

