## Settings file was created by plugin Image Embed v1.0.3
## Plugin GUID: com.deathweasel.bepinex.studioimageembed

[Config]

## Whether images from the userdata/pattern folder will be saved to scene data. False is vanilla behavior and such images can only be loaded if the same image exists on disk.
# Setting type: Boolean
# Default value: true
Save pattern images to scene data = true

## Whether images from the userdata/bg folder folder will be saved to scene data. False is vanilla behavior and such images can only be loaded if the same image exists on disk.
# Setting type: Boolean
# Default value: true
Save BG images to scene data = true

## Whether images from the userdata/frame folder folder will be saved to scene data. False is vanilla behavior and such images can only be loaded if the same image exists on disk.
# Setting type: Boolean
# Default value: true
Save frame images to scene data = true

