## Settings file was created by plugin Shallty Utils v1.1
## Plugin GUID: com.shallty.shalltyutils

[GuideObject Picker]

## Requires restarting studio
# Setting type: Boolean
# Default value: true
Enable/Disable = true

## The size of the grid cells in the GuideObject Picker
# Setting type: Int32
# Default value: 50
Grid Cell Size = 50

## The size of the GuideObject Nodes
# Setting type: Single
# Default value: 18
Nodes Size = 18

[KKPE]

## Create a GuideObject after selecting a bone in the KKPE Advanced Bones Window.
# Setting type: Boolean
# Default value: true
Create bone GuideObject = true

## Enable Undo/Redo commands for bones in the KKPE Advanced Bones Window.
# Setting type: Boolean
# Default value: true
Enable Undo/Redo for bones = true

[Timeline]

## The size of the Keyframes (in Performance mode only)
# Setting type: Single
# Default value: 12
Keyframes Size = 12

## Press this key to open the Quick Context Menu.
# Setting type: KeyboardShortcut
# Default value: I
Open Quick Menu = M + LeftControl

## Press this key to rename all selectedGuideObjects interpolables in Timeline.
# Setting type: KeyboardShortcut
# Default value: F2
Timeline Rename Interpolable = V + LeftControl

## Press this key to add keyframes to the selectedGuideObjects Interpolables at current time.
# Setting type: KeyboardShortcut
# Default value: T
Add Keyframes to selectedGuideObjects Interpolables = G

## When adding a Keyframes with the shortcut replace keyframes in the same time if already exist.
# Setting type: Boolean
# Default value: true
Replace existing keyframes. = true

## Keep timeline interpolables after creating a folder Constraint.
# Setting type: Boolean
# Default value: true
Keep timeline = true

## Add a constraint to compensate the pose for differents character heights when creating FolderConstraint IK Armatures
# Setting type: Boolean
# Default value: true
Add Height Compensation = true

## Reset the Timeline time back to 0 after loading or importing an scene.
# Setting type: Boolean
# Default value: true
Reset Timeline after load = true

## Enable Undo/Redo commands for Timeline keyframes.
# Setting type: Boolean
# Default value: true
Enable Undo/Redo = true

## Enable to automatically select linked GuideObject when selecting an interpolable.
# Setting type: Boolean
# Default value: true
Automatically select linked GuideObject = true

## Enable to display interpolables names in tooltip when hovering.
# Setting type: Boolean
# Default value: true
Display Interpolable names when hovering = true

## Enable to display the Help Tooltips in the buttons added by ShalltyUtils.
# Setting type: Boolean
# Default value: true
Display Help Tooltips = true

[Timeline Color]

# Setting type: Color
# Default value: 4C4C4CFF
Primary color = 1B1B1BFF

# Setting type: Color
# Default value: 595959FF
Secondary color = 404040FF

# Setting type: Color
# Default value: FFFFFFFF
Primary Text color = FFE800FF

# Setting type: Color
# Default value: FFFFFFFF
Secondary Text color = FFFFFFFF

