## Settings file was created by plugin Accessory Quick Remove v1.0
## Plugin GUID: com.deathweasel.bepinex.accessoryquickremove

[Keyboard Shortcuts]

## Key which removes selected accessories when pressed in the character maker
# Setting type: KeyboardShortcut
# Default value: Delete
Remove Hotkey = Delete

