## Settings file was created by plugin Shader Swapper v1.7
## Plugin GUID: com.deathweasel.bepinex.shaderswapper

[General]

## Write to log every time a shader is swapped.
# Setting type: Boolean
# Default value: true
Verbose logging = true

## Automatically swap vanilla shaders to their Vanilla+ equivalents on ALL characters.
## Changes take effect after character reload.
## WARNING: Saving the game, cards, or scenes with this setting enabled can permanently apply the V+ shaders! You won't be able to go back to vanilla shaders without manually resetting MaterialEditor edits in the maker!
# Setting type: Boolean
# Default value: false
Auto swap to V+ shaders = false

## Toggles if the following shaders should be swapped on characters: [Shader Forge/main_item_studio],[Shader Forge/main_item_studio_alpha],[ShaderForge/main_StandartMDK_studio] and [Standart]
# Setting type: Boolean
# Default value: false
Studio-shaders on characters = false

## Automatically sets the OutlineOn shaderproperty to 1
# Setting type: Boolean
# Default value: true
Auto enable outline = true

[Keyboard Shortcuts]

## Swap all shaders to the equivalent shader from the shadermapping, unless they are already changed in ME.
# Setting type: KeyboardShortcut
# Default value: P + RightControl
Swap Shaders = P + RightControl

## Swap all shaders to the equivalent shader from the shadermapping, regardless of they have been edited or not.
# Setting type: KeyboardShortcut
# Default value: P + RightShift + RightControl
Force Swap Shaders = P + RightShift + RightControl

[Mapping]

## XML file with mapping for shaders which is used when the tesselation setting = 0
# Setting type: String
# Default value: ./UserData/config/shader_swapper_normal.xml
Normal Shader Mapping = ./UserData/config/shader_swapper_normal.xml

## XML file with mapping for shaders which is used when the tesselation setting > 0
# Setting type: String
# Default value: ./UserData/config/shader_swapper_tess.xml
Tess Shader Mapping = ./UserData/config/shader_swapper_tess.xml

[Tesselation]

## The amount of tesselation to apply.  Leave at 0% to use the regular Vanilla+ shaders without tesselation.
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
Tesselation = 0

## Clamp the TessMin value of all xukmi *Tess shaders to 1.0 - 1.5 range to improve performance with cards that have this set way too high.
## Warning: The limited value could be saved to the card/scene (but shouldn't).
# Setting type: Boolean
# Default value: true
TessMin Clamping = true

## Temporarily override the TessMin value of all xukmi *Tess shaders to 25 when taking screenshots to potentially improve quality (minimal speed hit but may have no perceptible effect).
# Setting type: Boolean
# Default value: true
TessMin Override on Screenshots = true

