## Settings file was created by plugin Pose Quick Load v1.1
## Plugin GUID: com.deathweasel.bepinex.posequickload

[Config]

## Whether poses in Studio will be loaded by clicking on them. Vanilla behavior requires you to select the pose and then press load.
# Setting type: QuickLoad
# Default value: EnabledWithShift
# Acceptable values: Disabled, Enabled, EnabledWithShift
Pose Quick Loading = EnabledWithShift

