## Settings file was created by plugin Save_PostProcessingEffects v0.1
## Plugin GUID: com.shallty.save_postprocessingeffects

[GENERAL]

## Press this button to launch the UI.
# Setting type: KeyboardShortcut
# Default value: D + LeftAlt
Open UI shortcut = D + LeftAlt

