## Settings file was created by plugin KK_MakerAnimatePoseToggle v1.1.0
## Plugin GUID: com.njaecha.MakerAnimatePoseToggle

[Gernal]

## If disabled the Pose Animation will be disabled by dafault
# Setting type: Boolean
# Default value: true
Animate Pose Default = true

