## Settings file was created by plugin Color Filter Remover v21.0
## Plugin GUID: com.bepis.bepinex.colorcorrector

[Post Processing Settings]

## Whether default saturation filter will be applied to the game. This setting has no effect in Studio.
# Setting type: Boolean
# Default value: true
Enable saturation filter = true

## Override the strength of the bloom filter. Not active in Studio, control bloom settings through the in game Scene Effects menu.
# Setting type: Boolean
# Default value: false
Enable bloom strength override = false

## Strength of the bloom filter override. Bloom strength override has to be enabled for this setting to have an effect.
# Setting type: Single
# Default value: 1.5
# Acceptable value range: From 0 to 2
Bloom strength = 1.5

