## Settings file was created by plugin Game Dialog Helper v1.0.1.2
## Plugin GUID: com.gebo.BepInEx.GameDialogHelper

[Config]

## Controls how plugin operates
# Setting type: PluginMode
# Default value: Advanced
# Acceptable values: RelationshipBased, Advanced, Disabled
Plugin Mode = Advanced

[General]

## How to signify if an answer is right or wrong
# Setting type: HighlightMode
# Default value: ChangeColor
# Acceptable values: AppendText, ChangeColor
Highlight Mode = ChangeColor

## String to append to highlighting correct answers
# Setting type: String
# Default value: ←
Highlight Character (correct) = ←

## String to append when highlighting incorrect answers
# Setting type: String
# Default value: Х
Highlight Character (incorrect) = Х

[Relationship Mode]

## Highlight correct choice if relationship with character is the selected level or higher
# Setting type: RelationshipLevel
# Default value: Friend
# Acceptable values: Acquaintance, Friend, Lover, Disabled, Anyone
Minimum Relationship = Friend

