## Settings file was created by plugin Stiletto v2.4.2
## Plugin GUID: com.essu.stiletto

[Hotkeys]

GUI Toggle = RightShift

[Keyboard Shortcuts]

# Setting type: KeyboardShortcut
# Default value: RightShift
Toggle Stiletto window = RightShift

