## Settings file was created by plugin ShadowColorSwapper v1.2
## Plugin GUID: com.rikkibalboa.bepinex.shadowcolorswapper

[Keyboard Shortcuts]

## Swap all shadow colors not changed already to the chosen color
# Setting type: KeyboardShortcut
# Default value: O + RightControl
Swap shadow colors = O + RightControl

## Swap ALL shadow colors to the chosen color
# Setting type: KeyboardShortcut
# Default value: I + RightControl
Swap ALL shadow colors = I + RightControl

[Shadow Color]

# Setting type: Single
# Default value: 0.9
Red = 0.9

# Setting type: Single
# Default value: 0.9
Green = 0.9

# Setting type: Single
# Default value: 0.9
Blue = 0.9

# Setting type: Single
# Default value: 1
Alpha = 1

