## Settings file was created by plugin Animation Loader v1.1.3.4
## Plugin GUID: essuhauled.animationloader

[Advance]

## Some animations have information in the manifest to move the characters
# Setting type: Boolean
# Default value: true
Reposition Characters = true

## Uses more color to highlight the effects of the store plug-in and Free-H
# Setting type: Boolean
# Default value: true
Highlight Buttons Text = true

## Some animations have motion IK configurations if color is used they can be identified by a darker yellow color
# Setting type: Boolean
# Default value: true
Setup Motion IK = true

[Debug]

## Show debug information
# Setting type: Boolean
# Default value: false
Debug Information = false

## Show debug information in Console
# Setting type: Boolean
# Default value: false
Debug information to Console = false

[General]

## If you don't want to use the scrollable list for some reason
# Setting type: Boolean
# Default value: false
UseGrid = false

## Load positions from all manifest format xml files inside config/AnimationLoader folder
# Setting type: KeyboardShortcut
# Default value: None
ReloadManifests = 

## Sort positions alphabetically
# Setting type: Boolean
# Default value: true
SortPositions = true

## Save and use names stored in UserData/AnimationLoader/Names. Names then can be customized and won't be overwritten by updates.
# Setting type: Boolean
# Default value: false
Save Names = false

All Animations in FreeH = true

