## Settings file was created by plugin GamepadSupport v2.1
## Plugin GUID: GamepadSupport

[Debug]

## Show debug information about visible canvases and selected objects
# Setting type: Boolean
# Default value: false
Show debug information = false

[General]

## Turn the plugin on or off. Game restart is needed for changes to apply.
# Setting type: Boolean
# Default value: true
Enable gamepad and keyboard support = true

