## Settings file was created by plugin HeightBarX v4.0
## Plugin GUID: HeightBar

[Appearance]

# Setting type: Color
# Default value: 00000099
Color of the height measuring bar = 00000099

# Setting type: Color
# Default value: 00000099
Color of the width measuring bar = 00000099

# Setting type: Color
# Default value: 00000080
Color of the floor bar = 00000080

# Setting type: Color
# Default value: 00000080
Color of the zero width bar = 00000080

Opacity of the measuring bar = 0.6

Opacity of the floor bar = 0.5

[General]

## Hotkey to toggle the height measurement bar in maker.
# Setting type: KeyboardShortcut
# Default value: 
Toggle height measure bar = 

## Hotkey to toggle the width measurement bar in maker.
# Setting type: KeyboardShortcut
# Default value: 
Toggle width measure bar = 

## Hotkey to set a point for differential measurements.
# Setting type: KeyboardShortcut
# Default value: 
Set Differential Measurement Point = 

## Shows the position of the floor. Helps prevent floating characters when using yellow sliders.
# Setting type: Boolean
# Default value: true
Show floor bar at character`s feet = true

## Shows the position of the zero point of width.
# Setting type: Boolean
# Default value: true
Show bar at zero width. = true

## Allows you the change the units in which height is displayed.
# Setting type: DisplayUnits
# Default value: Both
# Acceptable values: Metric, Freedom, Both
Units = Both

Use freedom units = false

