## Settings file was created by plugin Character Replacer v1.7
## Plugin GUID: IllusionMods.CharacterReplacer

[Config]

## Whether to replace selected cards.
# Setting type: Boolean
# Default value: true
Enabled = true

## Browse for a card.
# Setting type: String
# Default value: 
Default Female Card Replacement = 

## Path of the replacement card on disk.
# Setting type: String
# Default value: 
Default Female Card Path = 

## Automatically pick the most recently saved card from the 'UserData/female' folder as the replacement.
# Setting type: Boolean
# Default value: false
Use Latest Female Card = false

## Browse for a card.
# Setting type: String
# Default value: 
Default Male Card Replacement = 

## Path of the replacement card on disk.
# Setting type: String
# Default value: 
Default Male Card Path = 

## Automatically pick the most recently saved card from the 'UserData/male' folder as the replacement.
# Setting type: Boolean
# Default value: false
Use Latest Male Card = false

## Browse for a card.
# Setting type: String
# Default value: 
Janitor Card Replacement = 

## Path of the replacement card on disk.
# Setting type: String
# Default value: 
Janitor Card Path = 

