## Settings file was created by plugin Intro Begone v1.0.0
## Plugin GUID: IntroBegone

[Game startup]

## Speed up game startup by skippping the logo shown at the start, before title screen.
# Setting type: Boolean
# Default value: true
Skip showing intro screen = true

