## Settings file was created by plugin DefaultStudioScene v1.0.4.1
## Plugin GUID: keelhauled.defaultstudioscene

[General]

# Setting type: String
# Default value: 
Default Scene Replacement = 

# Setting type: String
# Default value: 
Default Scene Path = 

DefaultScenePath = 

