## Settings file was created by plugin BetterSceneLoader v1.1.1.1
## Plugin GUID: keelhauled.bettersceneloader

[General]

## Automatically close scene window after loading
# Setting type: Boolean
# Default value: true
Auto Close = true

# Setting type: Boolean
# Default value: true
Confirm Delete = true

# Setting type: SortBy
# Default value: DateDescending
# Acceptable values: DateDescending, DateAscending, SizeDescending, SizeAscending
Default Sort Order = DateDescending

# Setting type: Int32
# Default value: 7
# Acceptable value range: From 1 to 12
Column Amount = 7

# Setting type: Single
# Default value: 3
# Acceptable value range: From 1 to 10
Scroll Sensitivity = 3

[UI Size]

# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
Left Anchor = 0

# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
Bottom Anchor = 0

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Right Anchor = 1

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Top Anchor = 1

# Setting type: Single
# Default value: 60
# Acceptable value range: From 0 to 200
Margin = 60

