## Settings file was created by plugin DefaultParamEditor v1.4.2.1
## Plugin GUID: keelhauled.defaultparameditor

[General]

## Create save buttons in the studio UI next to the load buttons.
## Requires restart
# Setting type: Boolean
# Default value: false
Create UI Save Buttons = false

# Setting type: String
# Default value: 
Character Parameters = 

# Setting type: String
# Default value: 
Scene Parameters = 

