## Settings file was created by plugin RealPOV v1.4.1.1
## Plugin GUID: keelhauled.realpov

[General]

# Setting type: Single
# Default value: 45
# Acceptable value range: From 20 to 120
Default FOV = 45

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.1 to 2
Mouse sensitivity = 1

## Move the camera backward or forward
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.5 to 0.5
View offset Z = 0

## Move the camera up or down
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.5 to 0.5
View offset Y = 0

## Move the camera left or right
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.5 to 0.5
View offset X = 0

## When entering POV, hide the character's head. Prevents accessories and hair from obstructing the view.
# Setting type: Boolean
# Default value: false
Hide character head = false

## Choose which sex to use as your point of view.
# Setting type: PovSex
# Default value: Male
# Acceptable values: Male, Female, Either
Selected POV = Male

View offset = 0.05

[Keyboard shortcuts]

# Setting type: KeyboardShortcut
# Default value: Backspace
Toggle POV = Backspace

