## Settings file was created by plugin Title Shortcuts v1.3.1.1
## Plugin GUID: keelhauled.titleshortcuts

[Keyboard shortcuts]

# Setting type: KeyboardShortcut
# Default value: F
Open female maker = F

# Setting type: KeyboardShortcut
# Default value: M
Open male maker = M

# Setting type: KeyboardShortcut
# Default value: U
Open uploader = U

# Setting type: KeyboardShortcut
# Default value: D
Open downloader = D

# Setting type: KeyboardShortcut
# Default value: H
Start free H = H

# Setting type: KeyboardShortcut
# Default value: L
Start live show = L

# Setting type: KeyboardShortcut
# Default value: G
Open Load Game screen = G

