## Settings file was created by plugin ADV Scene Editor v1.1
## Plugin GUID: KK_ADVeditor

[General]

# Setting type: KeyboardShortcut
# Default value: Pause + LeftShift
Open ADV editor = Pause + LeftShift

[Windows]

## Drag the window's bottom right corner to change these.
# Setting type: Rect
# Default value: { "x":10, "y":10, "width":500, "height":350 }
Editor window rect = { "x":10, "y":10, "width":500, "height":350 }

## Drag the window's bottom right corner to change these.
# Setting type: Rect
# Default value: { "x":510, "y":10, "width":700, "height":350 }
List window rect = { "x":510, "y":10, "width":700, "height":350 }

## Drag the window's bottom right corner to change these.
# Setting type: Rect
# Default value: { "x":1220, "y":10, "width":370, "height":350 }
Inspect window rect = { "x":1220, "y":10, "width":370, "height":350 }

