## Settings file was created by plugin KK_Ahegao v2.0
## Plugin GUID: KK_Ahegao

[]

## Resets the orgasm count to zero.
# Setting type: KeyboardShortcut
# Default value: O
Reset Ahegao Hotkey = O

[Settings]

## How many orgasms before ahegao.
# Setting type: UInt32
# Default value: 3
Ahegao Count = 3

## Whether eyebrows will be changed during ahegao.
# Setting type: Boolean
# Default value: true
Set Eyebrows = true

## Whether eyes will be changed during ahegao.
# Setting type: Boolean
# Default value: true
Set Eyes = true

## Whether the mouth will be changed during ahegao.
# Setting type: Boolean
# Default value: true
Set Mouth = true

## When enabled, ahegao only happens above 50% speed.
# Setting type: Boolean
# Default value: true
Speed Toggle = true

## Minimum speed to toggle ahegao. Only checked if the 
##  speed toggle is enabled in the first place.
# Setting type: Int32
# Default value: 66
# Acceptable value range: From 0 to 100
Minimum Speed = 66

## ID of the eyebrow expression to set during ahegao.
# Setting type: Int32
# Default value: 2
Ahegao Eyebrow ID = 2

## ID of the eye expression to set during ahegao.
# Setting type: Int32
# Default value: 25
Ahegao Eye ID = 25

## ID of the mouth expression to set during ahegao.
# Setting type: Int32
# Default value: 24
Ahegao Mouth ID = 24

## When enabled, the eyes will roll back during the ahegao state.
# Setting type: Boolean
# Default value: true
Eye Rolling = true

## How much the eyes should roll.
# Setting type: Single
# Default value: 0.25
# Acceptable value range: From 0 to 0.5
Eye Roll Amount = 0.25

## Whether tears will be displayed during ahegao or not.
# Setting type: Boolean
# Default value: true
Set Tears = true

## Whether the custom blush amount will be displayed during ahegao.
# Setting type: Boolean
# Default value: true
Set Blush = true

## The level of tears to display during ahegao.
## 0 is none.
# Setting type: Byte
# Default value: 0
# Acceptable values: 0, 1, 2, 3
Tears Level = 0

## The level of blush displayed during ahegao.
## 0 for none.
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
Blush Level = 0

## Whether or not ahegao can trigger in the Darkness mode.
# Setting type: Boolean
# Default value: true
Darkness Toggle = true

