## Settings file was created by plugin KK_CrossEye v1.6
## Plugin GUID: KK_CrossEye

[EXPERIMENTAL FOCUS]

## Camera focus start distance in CrossEye mode
# Setting type: Single
# Default value: 1
Focus start distance = 1

## Camera focus multiply in CrossEye mode
# Setting type: Single
# Default value: 10
Focus multiply = 10

## Camera focus total in CrossEye mode
# Setting type: Single
# Default value: 10
Focus total = 10

[Focus]

## Camera focus-in speed in CrossEye mode
# Setting type: Single
# Default value: 0.05
Focus-in speed = 0.05

## Camera focus-out speed in CrossEye mode
# Setting type: Single
# Default value: 0.05
Focus-out speed = 0.05

## Camera focus toggle in CrossEye mode
# Setting type: Boolean
# Default value: false
Disable focus = false

[Main]

# Setting type: KeyboardShortcut
# Default value: Keypad1
Enable Key = Keypad1

## Camera IPD in CrossEye mode
# Setting type: Single
# Default value: 0.18
IPD = 0.18

## Camera initial angle in CrossEye mode
# Setting type: Single
# Default value: 2.5
Initial Angle = 2.5

