## Settings file was created by plugin Unlimited Map Lights v22.0.3
## Plugin GUID: KK_Fix_UnlimitedMapLights

[Logging]

## Toggle the Warning that gets displayed if more than two maplights are added to the scene
# Setting type: Boolean
# Default value: true
Show Maplight Warning = true

