## Settings file was created by plugin KK_FixationalEyeMovement v1.3.3
## Plugin GUID: KK_FixationalEyeMovement

[Options]

## Adjusting the width of eye movement.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Range = 0.5

## Adjusting the time it takes for eyes to move.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 2
ChangeTime = 1

[Settings]

# Setting type: Boolean
# Default value: true
eyes = true

# Setting type: Boolean
# Default value: true
highlight = true

## Whether to use in female charamaker.
# Setting type: Boolean
# Default value: false
charamaker = false

