## Settings file was created by plugin KK_Fix_MainParam v1.2
## Plugin GUID: KK_Fix_MainParam

[Settings]

## Change the default toggle for reading chara information in main mode.
# Setting type: Boolean
# Default value: false
Toggle = false

## Edit the chara information of a man.
# Setting type: Boolean
# Default value: false
BoysInformation = false

