## Settings file was created by plugin KK_OrthographicCamera v1.1.2
## Plugin GUID: KK_OrthographicCamera

[]

# Setting type: KeyboardShortcut
# Default value: 
Toggle orthographic mode = I

