## Settings file was created by plugin KK_PregnancyPlus v6.3.3
## Plugin GUID: KK_PregnancyPlus

[Debug]

## This shows the unskinned vert positions (grey dots) as they are imported from the mesh asset. 
## Don't leave enabled, and dont enable with a ton of characters active.
# Setting type: Boolean
# Default value: false
Show Unskinned Verts = false

## This shows the initial skinned vert positions (cyan dots) that Preg+ has computed. Not the inflated ones. 
## Don't leave enabled, and dont enable with a ton of characters active.
# Setting type: Boolean
# Default value: false
Show P+ Skinned Verts = false

## This shows the inflated vert positions (green dots) that Preg+ has computed. 
## Don't leave enabled, and dont enable with a ton of characters active.
# Setting type: Boolean
# Default value: false
Show P+ Inflated Verts = false

## This shows the deltas computed from the base mesh that we use to build the blendshape. 
## Don't leave enabled, and dont enable with a ton of characters active.
# Setting type: Boolean
# Default value: false
Show P+ vertex deltas = false

## This shows the characters bones bind poses. 
## Don't leave enabled.
# Setting type: Boolean
# Default value: false
Show Bind Pose = false

## This will allow me to debug where the mesh is, or is not, affected by the main Preg+ slider.  This will disable some Preg+ sliders temporarily. 
## Don't leave enabled.
# Setting type: Boolean
# Default value: false
Balloon mode (Debug mode) = false

## Will force update the belly shape every x ticks to help debug belly shape changes during animations.  
## Don't leave enabled.
# Setting type: Boolean
# Default value: false
Refresh X Ticks (Debug mode) = false

## Will cause all mesh verticies to be affected by sliders so I can narrow down which meshes are behaving, and which are not.  
## Don't leave enabled
# Setting type: Boolean
# Default value: false
Entire Mesh Debugging (Debug mode) = false

## Will log lots of Preg+ BlendShape details to the console, but will condiserably slow down the game.  
## Don't leave enabled
# Setting type: Boolean
# Default value: false
Enable BlendShape Debug Logging (Debug mode) = false

## Will log lots of Preg+ belly calculations to the console, but will condiserably slow down the game.  
## Don't leave enabled
# Setting type: Boolean
# Default value: false
Enable Debug of calculations (Debug mode) = false

## Will log lots of Preg+ details to the console, but will condiserably slow down the game.  
## Don't leave enabled
# Setting type: Boolean
# Default value: false
Enable Debug Logging (Debug mode) = false

## Will apply the selected preset shape to all existing characters in scene
# Setting type: String
# Default value: None
# Acceptable values: None, Small, Standard, Standard Flat, Main Game, Multiples, Torpedo, Hyper, Chub Small, Chub Standard, Fat
Apply preset shape to all (Debug mode) = None

[General]

## When enabled, Preg+ will ignore all accessories including AcessoryClothing, and SkinnedAccessories.
# Setting type: Boolean
# Default value: false
Ignore Accessories = false

## When enabled, the sliders will work on male characters as well.
# Setting type: Boolean
# Default value: false
Allow male = false

## When changing characters in Maker, prefer the targets belly when both characters have a belly (Default).  When 'Disabled' the source characters belly shape will be used.
# Setting type: Boolean
# Default value: true
Prefer targets belly = true

[KK_Pregnancy Integration]

## The maximum additional belly size/shape that this plugin will add to the original KK_Pregnancy belly. The character must be pregnant or inflated.
## 0 will result in the original KK_Pregnancy belly, while 40 will be the original + the full Preg+ size/shape.
# Setting type: Single
# Default value: 40
# Acceptable value range: From 0 to 40
Max additional belly size = 40

## When enabled, the Preg+ belly shape will be the only shape used for pregnancy and inflation.  It disables the KK_Pregnancy shape in main gameplay.
# Setting type: Boolean
# Default value: true
Override KK_Pregnancy belly shape = true

## Lets you choose from a variety of belly shapes for pregnancy progrression (and inflation). Only works when Override is enabled.  
## This will be further affected by the Global sliders as well.
# Setting type: String
# Default value: Main Game
# Acceptable values: None, Small, Standard, Standard Flat, Main Game, Multiples, Torpedo, Hyper, Chub Small, Chub Standard, Fat
Preset Shape for Pregnancy Progression = Main Game

[Live Inflation Shortcuts]

## Allows you to increase the belly InflationSize in Story/Main-Game Mode
## 
## Can be CPU heavy with many characters
# Setting type: KeyboardShortcut
# Default value: 
Inflation + Key = 

## Allows you to decrease the belly InflationSize in Story/Main-Game Mode
## 
## Can be CPU heavy with many characters
# Setting type: KeyboardShortcut
# Default value: 
Inflation - Key = 

## Allows you to reset the belly InflationSize in Story/Main-Game Mode
## 
## Can be CPU heavy with many characters
# Setting type: KeyboardShortcut
# Default value: 
Inflation reset Key = 

[Story/Main-Game Mode]

## Whether or not Preg+ is enabled in Main Game mode
# Setting type: Boolean
# Default value: true
Gameplay Enabled = true

## Allows you to increase or decrease the 'Multiplier' amount in story mode for all pregnant characters
# Setting type: Single
# Default value: 0
# Acceptable value range: From -2 to 2
Global Multiplier Adjustment = 0

## Allows you to increase or decrease the 'Roundness' amount in story mode for for all pregnant characters
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.75 to 0.75
Global Roundness Adjustment = 0

## Allows you to increase or decrease the 'Move Y' amount in story mode for for all pregnant characters
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.375 to 0.375
Global Move Y Adjustment = 0

## Allows you to increase or decrease the 'Move Z' amount in story mode for for all pregnant characters
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.15 to 0.15
Global Move Z Adjustment = 0

## Allows you to increase or decrease the 'Stretch X' amount in story mode for for all pregnant characters
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.6 to 0.6
Global Stretch X Adjustment = 0

## Allows you to increase or decrease the 'Stretch Y' amount in story mode for for all pregnant characters
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.6 to 0.6
Global Stretch Y Adjustment = 0

## Allows you to increase or decrease the 'Shift Y' amount in story mode for for all pregnant characters
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.2 to 0.2
Global Shift Y Adjustment = 0

## Allows you to increase or decrease the 'Shift Z' amount in story mode for for all pregnant characters
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.15 to 0.15
Global Shift Z Adjustment = 0

## Allows you to increase or decrease the 'Taper Y' amount in story mode for for all pregnant characters
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.075 to 0.075
Global Taper Y Adjustment = 0

## Allows you to increase or decrease the 'Taper Z' amount in story mode for for all pregnant characters
# Setting type: Single
# Default value: 0
# Acceptable value range: From -0.075 to 0.075
Global Taper Z Adjustment = 0

## Allows you to increase the 'Drop' amount in story mode for for all pregnant characters
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
Global Drop Adjustment = 0

## Allows you to increase or decrease the cloth layer distance to reduce clipping
# Setting type: Single
# Default value: 0
# Acceptable value range: From -20 to 20
Global Cloth Offset Adjustment = 0

## Allows you to increase or decrease the fat fold size, 0 for none
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 2
Global Fat Fold Adjustment = 0

## Allows you to raise or lower the fat fold crease position, 0 is default
# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 1
Global Fat Fold Height Adjustment = 0

## Allows you to shrink or widen the fat fold gap, 0 is default
# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 1
Global Fat Fold Gap Adjustment = 0

