## Settings file was created by plugin KK_StudioPOV v1.1.1
## Plugin GUID: KK_StudioPOV

[General]

# Setting type: Single
# Default value: 2
Mouse sensitivity = 2

## POV field of view
# Setting type: Single
# Default value: 75
# Acceptable value range: From 1 to 180
FOV = 75

# Setting type: Boolean
# Default value: true
Hide head = true

[Keyboard Shortcuts]

# Setting type: KeyboardShortcut
# Default value: P
Toggle POV = P

