## Settings file was created by plugin KK Studio Transform Orientation v1.1.2
## Plugin GUID: kky.StudioTransformOrientation

[Child object transform orientation]

## When this option is Enabled and Local transform orientation is toggled on, move arrows orientation of child object will be relative to the rotation of it's parent instead of itself. Similar to HS1.
# Setting type: Boolean
# Default value: false
Relative to Parent = false

