## Settings file was created by plugin KK_FixationalEyeMovementVR v1.0.0
## Plugin GUID: koikdaisy.kkfixationaleyemovementvr

[General]

## If false, this plugin will do nothing (requires restart).
# Setting type: Boolean
# Default value: true
Enable this plugin = true

[Options]

## How far the eyes move around.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Eye Move Distance = 0.5

## The smaller this value, the faster the eyes move.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 2
Change Time = 1

[Settings]

# Setting type: Boolean
# Default value: true
Enable Highlight Shaking (requires scene restart) = true

