## Settings file was created by plugin KK_CharaLightDisabler v1.0.1
## Plugin GUID: koikdaisy.kkcharalightdisabler

[Enable Plugin]

## If enabled, will remove character light from any HScene, VR HScene, or studio map containing any object called KK_CharaLightDisabler. Useful for maps which provide their own lighting.
# Setting type: Boolean
# Default value: true
Enabled = true

