## Settings file was created by plugin Skin Overlay Mod v7.0.2
## Plugin GUID: KSOX

[General]

## Reduces RAM usage to about 1/4th at the cost of lower quality. Use when loading lots of characters with overlays if you're running out of memory.
# Setting type: Boolean
# Default value: false
Compress overlay textures in RAM = false

## If an overlay has a higher resolution than the base image, allow the finished texture to be this much larger than the base image size. Original will force the same resolution as the original texture, OriginalX2 will allow sizes up to twice as large. Increases quality at the cost of higher memory usage, turn off if you're running out of memory. If using Unlimited, consider enabling texture compression. Changes take effect after a scene reload.
# Setting type: TextureSizeLimit
# Default value: OriginalX2
# Acceptable values: Original, OriginalX2, Unlimited
Texture size limit = OriginalX2

[Maker]

## The value needs to be a valid full path to an existing folder. Default folder will be used if the value is invalid. Exported overlays will be saved there, and by default open overlay dialog will show this directory.
# Setting type: String
# Default value: K:\JUEGOS\KOIKATSU 22\UserData\Overlays
Overlay export/open folder = K:\koikatsu v17\[ScrewThisNoise] Koikatsu BetterRepack RX17\UserData\Overlays

