## Settings file was created by plugin LewdCrestX v1.4.1
## Plugin GUID: LewdCrestX

[Gameplay]

## If false, to change crests inside story mode you have to invite the character to the club and use the crest icon in clubroom.
# Setting type: Boolean
# Default value: false
Allow changing crests in story mode character maker = false

