## Settings file was created by plugin Card Author Data v1.42.2
## Plugin GUID: marco.authordata

[]

## Your nickname that will be saved to your cards and used in the card filenames.
# Setting type: String
# Default value: Anonymous
Nickname = Anonymous

