## Settings file was created by plugin Night Darkener v1.3
## Plugin GUID: Marco.NightDarkener

[General]

## Horror game effect.
## Changes take effect next time you load a night map.
# Setting type: Boolean
# Default value: false
Enable dark fog at night = false

## The lower the exposure, the darker the game will be.
## Changes take effect next time you load a night map.
# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 1
Exposure at night = 0.3

## Only darken maps that are unlikely to have lights turned on at night (likely to be vacant). Turn off to make all maps dark at night.
# Setting type: Boolean
# Default value: true
Only on specific maps = true

## If the "Only on specific maps" setting is enabled, also darken all custom maps (otherwise all custom maps will not be darkened).
# Setting type: Boolean
# Default value: true
Always enable on custom maps = true

## Set to false to completely disable this plugin. Changes take effect after game restart.
# Setting type: Boolean
# Default value: true
Enabled = true

