## Settings file was created by plugin Modding API v1.42.2
## Plugin GUID: marco.kkapi

[Debug]

## Enables display of additional log messages when certain events are triggered within KKAPI. Useful for plugin devs to understand when controller messages are fired. Changes take effect after game restart.
# Setting type: Boolean
# Default value: false
Show debug messages = false

[General]

## If enabled, file picker dialogs will remember the last opened folder and open inside of it instead of the default folder. If disabled, the dialogs will always open in the default folder.
## 
## 'Reset On Restart' will remember the last opened folders only until the game is restarted, after which they will be reset.
## 
## Warning: This setting only applies to plugins that use the file picker through this API.
# Setting type: RememberFilePickerFolderSetting
# Default value: Enabled
# Acceptable values: Enabled, ResetOnRestart, Disabled
Remember last folder in file pickers = Enabled

