## Settings file was created by plugin Move Controller KOI v1.7.1.1
## Plugin GUID: mikke.MoveControllerKOI

[Move Controller settings]

## The scale of the MoveController Window. Takes effect the next time the window is opened.
# Setting type: Single
# Default value: 1
GUI Scale = 1

## This setting will hide an object's selection handle when an FK node is selected, so the handle doesn't cover up the FK nodes. Takes effect after restart
# Setting type: Boolean
# Default value: true
Hide object handle when FK active = true

