## Settings file was created by plugin KK_BetterSquirt v3.0.2
## Plugin GUID: MK.KK_BetterSquirt

[]

## Default Behavior: Use the game's default behavior and only squirt occasionally during orgasm in caress mode
## 
## If Girls is Aroused: Girl squirts during orgasm if her excitement gauge is over 70
## 
## Always: Girl always squirts during orgasm
# Setting type: SquirtMode
# Default value: Aroused
# Acceptable values: Vanilla, Aroused, Always
Squirt Behavior = Vanilla

## Key to manually trigger squirting
# Setting type: KeyboardShortcut
# Default value: 
Squirt Shortcut Key = 

## How frequently squirts are triggered when touching the girl's vagina/crotch. Affected by the girl's excitement gauge.
## Set to 0 to disable this feature
# Setting type: Int32
# Default value: 15
# Acceptable value range: From 0 to 100
Touch Sensitivity = 15

[Better Squirt]

## Replaces vanilla squirt with a more realistic one
# Setting type: Boolean
# Default value: true
Improved Particles = true

## Duration of the improved squirting when triggered manually by the hotkey
## 
## In auto mode it depends on the girl's excitement gauge
# Setting type: Behavior
# Default value: Auto
# Acceptable values: Auto, Random, Minimum, Maximum
Manual Squirt Duration = Auto

## Amount and volume of the improved squirting when triggered manually by the hotkey
## 
## In auto mode it depends on the girl's excitement gauge
# Setting type: Behavior
# Default value: Auto
# Acceptable values: Auto, Random, Minimum, Maximum
Manual Squirt Amount = Auto

