## Settings file was created by plugin MoarCamz v1.0.8
## Plugin GUID: orange.spork.moarcamzplugin

[Hotkeys]

# Setting type: KeyboardShortcut
# Default value: KeypadPlus
Next Set Camera = KeypadPlus

# Setting type: KeyboardShortcut
# Default value: KeypadMinus
Prev Set Camera = KeypadMinus

[Options]

# Setting type: Single
# Default value: 1
Fast Drag Position Sensitivity = 1

# Setting type: Single
# Default value: 3
Fast Drag Rotation Sensitivity = 3

# Setting type: Single
# Default value: 0.1
Slow Drag Position Sensitivity = 0.1

# Setting type: Single
# Default value: 1
Slow Drag Rotation Sensitivity = 1

