## Settings file was created by plugin FK Height Adjust UI v1.0.3
## Plugin GUID: orange.spork.fkheightadjustuiplugin

[Options]

## 0 is origin, negative below origin, positive above origin
# Setting type: Int32
# Default value: 0
# Acceptable value range: From -100 to 100
Minimum Height Adj (% of character height) = 0

## 0 is char height, negative below char height, positive above char height
# Setting type: Int32
# Default value: 50
# Acceptable value range: From -100 to 200
Maximum Height Adj (% of character height) = 50

