## Settings file was created by plugin PostProcessingEffectsV3 v4.5
## Plugin GUID: org.bepinex.plugins.PostProcessingEffectsV3

[_MasterSwitch]

# Setting type: Boolean
# Default value: false
OnOff = true

## USE AT OWN RISK! PPE has some bugs (only visual) in maker that I can't solve. No bug reports
# Setting type: Boolean
# Default value: false
Enabled In Maker (USE WITH CAUTION!) = true

# Setting type: KeyboardShortcut
# Default value: 
_Switch = F4

[_OpenGUI]

# Setting type: KeyboardShortcut
# Default value: 
_OpenGUI = 

[Ambient Occulusion]

# Setting type: AmbientOcclusionMode
# Default value: ScalableAmbientObscurance
# Acceptable values: ScalableAmbientObscurance, MultiScaleVolumetricObscurance
Ambient Occulusion Mode = ScalableAmbientObscurance

# Setting type: Boolean
# Default value: false
Ambient Occulusion Enable = true

# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 4
AOIntensity = 0.5

# Setting type: Color
# Default value: 000000FF
Color = 000000FF

# Setting type: Single
# Default value: 0.25
# Acceptable value range: From 0.0001 to 3
Radius = 0.1180851

# Setting type: AmbientOcclusionQuality
# Default value: Medium
# Acceptable values: Lowest, Low, Medium, High, Ultra
Quality = Medium

# Setting type: Boolean
# Default value: true
UseNewMode = true

# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 16
Intensity = 1.118541

# Setting type: SampleCount
# Default value: Medium
# Acceptable values: VeryLow, Low, Medium, High, Ultra
SampleCount = Medium

# Setting type: Boolean
# Default value: false
BlurDownsampling = false

# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 4
DownSampling = 2

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 10
Distance = 1

# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 1
Bias = 0.1

# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
LightingContribution = 0.5

# Setting type: BlurMode
# Default value: HighQualityBilateral
# Acceptable values: None, Gaussian, HighQualityBilateral
BlurType = HighQualityBilateral

# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 4
BlurPasses = 1

# Setting type: Single
# Default value: 10
# Acceptable value range: From 1 to 20
Threshold = 10

# Setting type: Single
# Default value: 150
MaxDistance = 150

# Setting type: Single
# Default value: 50
Falloff = 50

[AntiAliasing]

# Setting type: Antialiasing
# Default value: None
# Acceptable values: None, FastApproximateAntialiasing, SubpixelMorphologicalAntialiasing, TemporalAntialiasing
AntiAliasing Mode = SubpixelMorphologicalAntialiasing

# Setting type: Quality
# Default value: Medium
# Acceptable values: Low, Medium, High
SMAA Quality = High

# Setting type: Boolean
# Default value: false
FXAA FastMode = false

# Setting type: Boolean
# Default value: false
FXAA KeepAlpha = false

# Setting type: Single
# Default value: 0.75
# Acceptable value range: From 0.1 to 1
TAA JitterSpeed = 0.75

# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 3
TAA Sharpen = 0.3

# Setting type: Single
# Default value: 0.95
# Acceptable value range: From 0 to 0.99
TAA StationaryBlending = 0.95

# Setting type: Single
# Default value: 0.85
# Acceptable value range: From 0 to 0.99
TAA MotionBlending = 0.85

[Bloom]

# Setting type: Boolean
# Default value: false
_Bloom Enable = true

# Setting type: Single
# Default value: 3
# Acceptable value range: From 0 to 10
Intensity = 0.4471544

# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 1
AnamorphicRatio = 0

# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Softknee = 0.5

# Setting type: Single
# Default value: 1.1
# Acceptable value range: From 0 to 10
Threshold = 0.6707317

# Setting type: Single
# Default value: 65472
Clamp = 65472

# Setting type: Single
# Default value: 7
# Acceptable value range: From 1 to 10
Diffusion = 6.917933

# Setting type: Color
# Default value: FFFFFFFF
Color = FFFFFFFF

# Setting type: Boolean
# Default value: false
FastMode = false

[Chromatic Aberration]

# Setting type: Boolean
# Default value: false
_Chromatic Aberration Enable = false

# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
Intensity = 0

[Color Grading]

# Setting type: Boolean
# Default value: false
_Color Grading Enable = false

# Setting type: Tonemapper
# Default value: None
# Acceptable values: None, Neutral, ACES, Custom
ToneMapper = None

# Setting type: GradingMode
# Default value: LowDefinitionRange
# Acceptable values: LowDefinitionRange, HighDefinitionRange, External
GradingMode = HighDefinitionRange

# Setting type: Single
# Default value: 0
Tone PostExposure = 0.05471125

# Setting type: Single
# Default value: 0
# Acceptable value range: From -100 to 100
Tone Brightness = 0

# Setting type: Single
# Default value: 0
# Acceptable value range: From -100 to 100
WhiteBalance Temperature = -1.215806

# Setting type: Single
# Default value: 0
# Acceptable value range: From -100 to 100
WhiteBalance Tint = 0

# Setting type: Single
# Default value: 0
# Acceptable value range: From -180 to 180
Tone HueShift = 0

# Setting type: Single
# Default value: 0
# Acceptable value range: From -100 to 100
Tone Saturation = 4.255319

# Setting type: Single
# Default value: 0
# Acceptable value range: From -100 to 100
Tone Contrast = -9.118541

# Setting type: Vector4
# Default value: {"x":1.0,"y":1.0,"z":1.0,"w":0.0}
Trackballs Lift = {"x":1.0,"y":1.0,"z":1.0,"w":0.0}

# Setting type: Vector4
# Default value: {"x":1.0,"y":1.0,"z":1.0,"w":0.0}
Trackballs Gammma = {"x":1.0,"y":1.0,"z":1.0,"w":0.0}

# Setting type: Vector4
# Default value: {"x":1.0,"y":1.0,"z":1.0,"w":0.0}
Trackballs Gain = {"x":1.0,"y":1.0,"z":1.0,"w":0.0}

# Setting type: Color
# Default value: FFFFFFFF
Tone ColorFilter = FFFFFFFF

[CustomizableOutline]

# Setting type: Boolean
# Default value: false
_Enable = false

# Setting type: Boolean
# Default value: false
OutlineOnly = false

# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0.01 to 1
NormalThreshold = 0.1

# Setting type: Single
# Default value: 5
# Acceptable value range: From 0.01 to 10
DepthThreshold = 5

# Setting type: Single
# Default value: 0.01
# Acceptable value range: From 0.001 to 1
ColorThreshold = 0.01

# Setting type: Single
# Default value: 5
# Acceptable value range: From 0.01 to 10
SobelThreshold = 5

# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
NormalEdge = 0.5

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
DepthEdge = 1

# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 1
ColorEdge = 0.3

# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 1
SobelEdge = 0.3

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 3
SampleDistance = 1

# Setting type: Single
# Default value: 5
# Acceptable value range: From 0 to 20
ColorBlend = 5

# Setting type: Boolean
# Default value: false
PasteTone = false

# Setting type: Single
# Default value: 5
# Acceptable value range: From 0.1 to 10
ToneScale = 5

# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 1
ToneThickness = 0

# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 1
ToneThreshold = 0

# Setting type: Boolean
# Default value: false
BlurOn = false

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 10
BlurDirection = 1

# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0 to 5
BlurPower = 0.6

# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 1
BlurThickness = 0.3

# Setting type: Int32
# Default value: 8
# Acceptable value range: From 2 to 64
BlurSampleCount = 8

[Depth of Field]

# Setting type: Boolean
# Default value: false
_DOF Enable = false

# Setting type: Single
# Default value: 10
# Acceptable value range: From 0.1 to 100
FocusDistance = 10

# Setting type: Single
# Default value: 5.6
# Acceptable value range: From 0.05 to 32
Aperture = 11.31505

# Setting type: Single
# Default value: 50
# Acceptable value range: From 1 to 300
FoculLength = 50

# Setting type: KernelSize
# Default value: Medium
# Acceptable values: Small, Medium, Large, VeryLarge
MaxBlurSize = VeryLarge

# Setting type: Boolean
# Default value: false
AutoFocus = true

# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 2
AutoFocusMode = 1

[Fog]

# Setting type: Boolean
# Default value: false
_Enable = false

# Setting type: FogMode
# Default value: Exponential
# Acceptable values: Linear, Exponential, ExponentialSquared
mode = Exponential

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Density = 1

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 100
Start = 1

# Setting type: Single
# Default value: 20
# Acceptable value range: From 0 to 100
End = 20

# Setting type: Single
# Default value: 20
# Acceptable value range: From 0 to 100
Height = 20

# Setting type: Color
# Default value: FFFFFFFF
Color = FFFFFFFF

[Grain]

# Setting type: Boolean
# Default value: false
_Enable = false

# Setting type: Boolean
# Default value: false
Colored = false

# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
Intensity = 0

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.3 to 3
Size = 1

# Setting type: Single
# Default value: 0.8
# Acceptable value range: From 0 to 1
Luminance Contribution = 0.8

[Lens Distortion]

# Setting type: Boolean
# Default value: false
_Enable = true

# Setting type: Single
# Default value: 0
# Acceptable value range: From -100 to 100
Intensity = 9.37573

# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
X Multiplier = 1

# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
Y Mulitplier = 1

# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 1
X Center = 0

# Setting type: Single
# Default value: 0
# Acceptable value range: From -1 to 1
Y Center = 0

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.01 to 5
Scale = 1

[Motion Blur]

# Setting type: Boolean
# Default value: false
_MotionBlur Enable = false

# Setting type: Single
# Default value: 270
# Acceptable value range: From 0 to 360
ShutterAngle = 270

# Setting type: Int32
# Default value: 10
# Acceptable value range: From 4 to 32
SampleCount = 10

[Posterize]

# Setting type: Boolean
# Default value: false
_Enable = false

# Setting type: Int32
# Default value: 8
# Acceptable value range: From 1 to 64
DivisionNum = 8

# Setting type: Boolean
# Default value: true
UseHSVtrans = true

[SobelColorOutline]

# Setting type: Boolean
# Default value: false
_Enable = true

# Setting type: Single
# Default value: 0.02
# Acceptable value range: From 0 to 1
OutlineWidth = 0.08059701

# Setting type: Color
# Default value: FFFFFFFF
OutlineColor = FFFFFFFF

# Setting type: Single
# Default value: 2
# Acceptable value range: From 0 to 10
ColorPower = 0.3343284

[Vignette]

# Setting type: Boolean
# Default value: false
_Vignette Enable = false

# Setting type: Vector2
# Default value: {"x":0.5,"y":0.5}
Canter = {"x":0.5,"y":0.5}

# Setting type: VignetteMode
# Default value: Classic
# Acceptable values: Classic, Masked
Mode = Classic

# Setting type: Color
# Default value: 000000FF
Color = 000000FF

# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 1
Intensity = 0.5881193

# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0.01 to 1
Smoothness = 0.2

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Roundness = 0.2553191

# Setting type: Boolean
# Default value: false
Rounded = false

# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 1
Opacity = 1

