## Settings file was created by plugin KK_ObjImport v2.1.5
## Plugin GUID: org.njaecha.plugins.objimport

[_General_]

## Press this key to open the UI
# Setting type: KeyboardShortcut
# Default value: O
Hotkey = O

## The default directory of the file dialoge.
# Setting type: String
# Default value: C:
Default Directory = C:

[Debug]

## Draw Debug UI Elements
# Setting type: Boolean
# Default value: false
DebugUI = false

