## Settings file was created by plugin TreeNodeNaming v1.2.0
## Plugin GUID: org.njaecha.plugins.treenodenaming

[General]

## Press this key to rename selected objects
# Setting type: KeyboardShortcut
# Default value: R + LeftShift
Hotkey = R + LeftShift

## Automatically adds a counter to the name of objects that exist more than once
# Setting type: Boolean
# Default value: true
Automatic Renaming = true

