## Settings file was created by plugin KK_MakerCameraPresets v1.0.3
## Plugin GUID: org.njaecha.plugins.makercamerapresets

[Keybinds]

## Press this to switch to camera preset 1 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha1 + LeftControl
Hotkey Camera 1 = Alpha1 + LeftControl

## Press this to switch to camera preset 2 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha2 + LeftControl
Hotkey Camera 2 = Alpha2 + LeftControl

## Press this to switch to camera preset 3 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha3 + LeftControl
Hotkey Camera 3 = Alpha3 + LeftControl

## Press this to switch to camera preset 4 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha4 + LeftControl
Hotkey Camera 4 = Alpha4 + LeftControl

## Press this to switch to camera preset 5 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha5 + LeftControl
Hotkey Camera 5 = Alpha5 + LeftControl

## Press this to switch to camera preset 6 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha6 + LeftControl
Hotkey Camera 6 = Alpha6 + LeftControl

## Press this to switch to camera preset 7 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha7 + LeftControl
Hotkey Camera 7 = Alpha7 + LeftControl

## Press this to switch to camera preset 8 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha8 + LeftControl
Hotkey Camera 8 = Alpha8 + LeftControl

## Press this to switch to camera preset 9 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha9 + LeftControl
Hotkey Camera 9 = Alpha9 + LeftControl

## Press this to switch to camera preset 10 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha0 + LeftControl
Hotkey Camera 10 = Alpha0 + LeftControl

## Press this to switch to camera preset 11 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha1 + LeftShift + LeftControl
Hotkey Camera 11 = Alpha1 + LeftShift + LeftControl

## Press this to switch to camera preset 12 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha2 + LeftShift + LeftControl
Hotkey Camera 12 = Alpha2 + LeftShift + LeftControl

## Press this to switch to camera preset 13 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha3 + LeftShift + LeftControl
Hotkey Camera 13 = Alpha3 + LeftShift + LeftControl

## Press this to switch to camera preset 14 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha4 + LeftShift + LeftControl
Hotkey Camera 14 = Alpha4 + LeftShift + LeftControl

## Press this to switch to camera preset 15 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha5 + LeftShift + LeftControl
Hotkey Camera 15 = Alpha5 + LeftShift + LeftControl

## Press this to switch to camera preset 16 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha6 + LeftShift + LeftControl
Hotkey Camera 16 = Alpha6 + LeftShift + LeftControl

## Press this to switch to camera preset 17 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha7 + LeftShift + LeftControl
Hotkey Camera 17 = Alpha7 + LeftShift + LeftControl

## Press this to switch to camera preset 18 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha8 + LeftShift + LeftControl
Hotkey Camera 18 = Alpha8 + LeftShift + LeftControl

## Press this to switch to camera preset 19 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha9 + LeftShift + LeftControl
Hotkey Camera 19 = Alpha9 + LeftShift + LeftControl

## Press this to switch to camera preset 20 (if existing)
# Setting type: KeyboardShortcut
# Default value: Alpha0 + LeftShift + LeftControl
Hotkey Camera 20 = Alpha0 + LeftShift + LeftControl

[UI]

## Theme to use for the UI
# Setting type: String
# Default value: Koikatsu
# Acceptable values: Sunshine, Koikatsu, Koikatsu Dark, Unity
Button Theme = Koikatsu

## Reduces the size of the buttons, recomended for smaller screens (FullHD and below)
# Setting type: Boolean
# Default value: false
Smaller Buttons = false

## If disabled the UI is hidden by default
# Setting type: Boolean
# Default value: true
Show UI by default = true

