## Settings file was created by plugin KK_StudioKeybinds v1.0.1
## Plugin GUID: org.njaecha.plugins.studiokeybinds

[_General_]

## Enables/Disables the mod. Requires resart to take effect!
# Setting type: Boolean
# Default value: true
Mod Enabled = true

[Basic Shortcuts]

## Undos the last action if possible
# Setting type: KeyboardShortcut
# Default value: Z + LeftControl
Undo = Z + LeftControl

## Undos the last action if possible [Alternate Key]
# Setting type: KeyboardShortcut
# Default value: Z + RightControl
Undo (Alternative) = Z + RightControl

## Redo the last undone action if possible
# Setting type: KeyboardShortcut
# Default value: Z + LeftShift + LeftControl
Redo = Z + LeftShift + LeftControl

## Redo the last undone action if possible [Alternate Key]
# Setting type: KeyboardShortcut
# Default value: Z + RightShift + RightControl
Redo (Alternative) = Z + RightShift + RightControl

## Saves the Scene
# Setting type: KeyboardShortcut
# Default value: S + LeftControl
Save = S + LeftControl

## Shows the quit game dialogue
# Setting type: KeyboardShortcut
# Default value: Escape
Exit = Escape

[Camera Base Shortcuts]

## Moves the camera target to the origin of the selected object
# Setting type: KeyboardShortcut
# Default value: F
Focus Selected Object = F

## Resets the entire camera
# Setting type: KeyboardShortcut
# Default value: A
Reset All = A

## Zooms the camera in.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: Home
Zoom In = Home

## Zooms the camera out.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: End
Zoom Out = End

[Camera FOV Shortcuts]

## Resets the camera FOV
# Setting type: KeyboardShortcut
# Default value: Semicolon
Reset FOV = Semicolon

## Increases the camera FOV.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: Equals
Increase FOV = Equals

## Decreases the camera FOV.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: RightBracket
Decrease FOV = RightBracket

[Camera Move Shortcuts]

## Moves the camera target right.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: RightArrow
Move Right = RightArrow

## Moves the camera target left.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: LeftArrow
Move Left = LeftArrow

## Moves the camera target forward.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: UpArrow
Move Forward = UpArrow

## Moves the camera target backwards.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: DownArrow
Move Backwards = DownArrow

## Moves the camera target up.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: PageUp
Move Up = PageUp

## Moves the camera target down.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: PageDown
Move Down = PageDown

[Camera Rotate Shortcuts]

## Resets the camera rotation (X and Y)
# Setting type: KeyboardShortcut
# Default value: Keypad5
Reset Rotation = Keypad5

## Resets the camera roll (Z)
# Setting type: KeyboardShortcut
# Default value: Slash
Reset Roll = Slash

## Rolls the camera right (rotate on Z).
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: Period
Roll Right = Period

## Rolls the camera left (rotate on Z).
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: Backslash
Roll Left = Backslash

## Rotates the camera right.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: Keypad6
Rotate Right = Keypad6

## Rotates the camera left.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: Keypad4
Rotate Left = Keypad4

## Rotates the camera up.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: Keypad8
Rotate Up = Keypad8

## Rotates the camera down.
##  ATTENTION: This Shortcut can only hold a single key!
# Setting type: KeyboardShortcut
# Default value: Keypad2
Rotate Down = Keypad2

[Miscellaneous Shortcuts]

## Opens the Image that shows all the default shorcuts, pretty much useless
# Setting type: KeyboardShortcut
# Default value: F2
Shortcut Page = F2

## WARNING: this setting is REDUNDANT if you use ScreenshotManager! Use its setting to change the Keybind.
## 
## Renders a Screenshot
# Setting type: KeyboardShortcut
# Default value: F11
Screenshot = F11

[Object Shortcuts]

## Moves the selected object to the camera target
# Setting type: KeyboardShortcut
# Default value: C
Move to Camera = C

## Duplicates the selected objects
# Setting type: KeyboardShortcut
# Default value: D + LeftControl
Duplicate = D + LeftControl

## Deletes the selected objects
# Setting type: KeyboardShortcut
# Default value: Delete
Delete = Delete

## Modifier key to press while selecting a node in the workspace treeview to attach it to the previously selected node
# Setting type: KeyboardShortcut
# Default value: P
Attach = P

## Modifier key to press while selecting a node in the workspace treeview to detach it from its parent
# Setting type: KeyboardShortcut
# Default value: O
Detach = O

## This should copy the Object with Ctrl+X, but for some reason it's broken and I have no idea why...
# Setting type: KeyboardShortcut
# Default value: None
Copy (Broken) = 

[Switch Cam Shortcuts]

## Switches to Cam 1
# Setting type: KeyboardShortcut
# Default value: Alpha1
Cam 1 = Alpha1

## Switches to Cam 2
# Setting type: KeyboardShortcut
# Default value: Alpha2
Cam 2 = Alpha2

## Switches to Cam 3
# Setting type: KeyboardShortcut
# Default value: Alpha3
Cam 3 = Alpha3

## Switches to Cam 4
# Setting type: KeyboardShortcut
# Default value: Alpha4
Cam 4 = Alpha4

## Switches to Cam 5
# Setting type: KeyboardShortcut
# Default value: Alpha5
Cam 5 = Alpha5

## Switches to Cam 6
# Setting type: KeyboardShortcut
# Default value: Alpha6
Cam 6 = Alpha6

## Switches to Cam 7
# Setting type: KeyboardShortcut
# Default value: Alpha7
Cam 7 = Alpha7

## Switches to Cam 8
# Setting type: KeyboardShortcut
# Default value: Alpha8
Cam 8 = Alpha8

## Switches to Cam 9
# Setting type: KeyboardShortcut
# Default value: Alpha9
Cam 9 = Alpha9

## Switches to Cam 0
# Setting type: KeyboardShortcut
# Default value: Alpha0
Cam 0 = Alpha0

## Switches to the next camera
# Setting type: KeyboardShortcut
# Default value: H
Next Camera = H

[Transfrom Shortcuts]

## Sets the transfrom mode to Move
# Setting type: KeyboardShortcut
# Default value: W
Move = W

## Sets the transfrom mode to Rotate
# Setting type: KeyboardShortcut
# Default value: E
Rotate = E

## Sets the transfrom mode to Scale
# Setting type: KeyboardShortcut
# Default value: R
Scale = R

## Hides the transfrom node (Guide Object)
# Setting type: KeyboardShortcut
# Default value: Q
Hide = Q

## Toggles the planar movement control panels
# Setting type: KeyboardShortcut
# Default value: J
Toggle Planar Movement Control = J

## Toggles the yellow dot at the center of the transfrom node
# Setting type: KeyboardShortcut
# Default value: K
Toggle Center Point = K

## Modiefier key to press while moving the transfrom node to activate snapping
# Setting type: KeyboardShortcut
# Default value: V
Snap Movement = V

