## Settings file was created by plugin KK_VideoPlate v1.1.2
## Plugin GUID: org.njaecha.plugins.VideoPlate

[_General_]

## Keyboard Shortcut to open the UI
# Setting type: KeyboardShortcut
# Default value: V + LeftAlt
Open UI Shortcut = V + LeftAlt

## directory to open the open file dialogue in
# Setting type: String
# Default value: C:/
Default Directory = C:/

## Turn the keyboard shortcuts on or off
# Setting type: Boolean
# Default value: true
Hotkeys Active = true

[Keyboard Shorcuts]

## Plays/Pauses the selected player
# Setting type: KeyboardShortcut
# Default value: KeypadMultiply
Play/Pause = KeypadMultiply

## Plays/Pauses all players
# Setting type: KeyboardShortcut
# Default value: KeypadMultiply + LeftAlt
Play/Pause (Global) = KeypadMultiply + LeftAlt

## Stops the selected player
# Setting type: KeyboardShortcut
# Default value: Keypad9
Stop = Keypad9

## Stops all players
# Setting type: KeyboardShortcut
# Default value: Keypad9 + LeftAlt
Stop (Global) = Keypad9 + LeftAlt

## Jumps forward one frame on the selected player
# Setting type: KeyboardShortcut
# Default value: KeypadMinus
Next Frame = KeypadMinus

## Jumps forward one frame on all players
# Setting type: KeyboardShortcut
# Default value: KeypadMinus + LeftAlt
Next Frame (Global) = KeypadMinus + LeftAlt

## Jumps backwards one frame on the selected player
# Setting type: KeyboardShortcut
# Default value: KeypadDivide
Previous Frame = KeypadDivide

## Jumps backwards one frame on all players
# Setting type: KeyboardShortcut
# Default value: KeypadDivide + LeftAlt
Previous Frame (Global) = KeypadDivide + LeftAlt

## Increases the volume on the selected player
# Setting type: KeyboardShortcut
# Default value: F7
Volume Up = F7

## Decreases the volume on the selected player
# Setting type: KeyboardShortcut
# Default value: F6
Volume Down = F6

## Enables/Disables Timelinemode on the selected player
# Setting type: KeyboardShortcut
# Default value: F4
Toggle Timelinemode = F4

