## Settings file was created by plugin DynamicBoneDistributionEditor v2.0.0
## Plugin GUID: org.njaecha.plugins.dbde

[]

## Toggle gizmos. Can also be toggled in the UI
# Setting type: Boolean
# Default value: true
Draw Gizmos = true

## Disable this to never show the warning before baking edits (setting the current state as not edited)
# Setting type: Boolean
# Default value: true
Show Bake Warning = true

[Logging]

## Toggle verbose logging.
# Setting type: Boolean
# Default value: false
Verbose Logging = false

## If turned off the console will be spammed heavily by verbose logging
# Setting type: Boolean
# Default value: true
Stop UI Spam = true

