## Settings file was created by plugin ShaderManagementTool v3.2.0.0
## Plugin GUID: org.bepinex.plugins.ShaderManagementTool

[]

# Setting type: KeyboardShortcut
# Default value: 
Open GUI = K + LeftControl

