## Settings file was created by plugin BetterShadowQualitySettings v1.0.0.0
## Plugin GUID: org.bepinex.plugins.BetterShadowQualitySettings

[CharaLightSettings]

# Setting type: Boolean
# Default value: false
Default Light Settings Overrides = false

# Setting type: Single
# Default value: 0.8
# Acceptable value range: From 0 to 1
Shadow Strength = 0.8

# Setting type: LightShadowResolution
# Default value: FromQualitySettings
# Acceptable values: Low, Medium, High, VeryHigh, FromQualitySettings
Shadow Resolution = FromQualitySettings

# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0 to 2
Shadow Bias = 0.05

# Setting type: Single
# Default value: 0.4
# Acceptable value range: From 0 to 3
Shadow Normal Bias = 0.4

# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0.1 to 10
Shadow Near Plane = 0.2

# Setting type: LightRenderMode
# Default value: Auto
# Acceptable values: Auto, ForcePixel, ForceVertex
Render Mode = Auto

[GeneralSettings]

# Setting type: ShadowResolution
# Default value: VeryHigh
# Acceptable values: Low, Medium, High, VeryHigh
Shadow Resolution = VeryHigh

# Setting type: ShadowQuality
# Default value: All
# Acceptable values: Disable, HardOnly, All
Shadow Type = All

# Setting type: Single
# Default value: 200
# Acceptable value range: From 0 to 600
Shadow Distance = 200

# Setting type: ShadowProjection
# Default value: CloseFit
# Acceptable values: CloseFit, StableFit
Shadow Projection = CloseFit

# Setting type: Int32
# Default value: 4
# Acceptable values: 0, 2, 4
Shadow Cascades = 4

# Setting type: Single
# Default value: 0.3333333
# Acceptable value range: From 0 to 1
Shadow Cascades 2Split = 0.3333333

# Setting type: Single
# Default value: 0.047826
# Acceptable value range: From 0 to 1
Shadow Cascades 4Split X = 0.047826

# Setting type: Single
# Default value: 0.136232
# Acceptable value range: From 0 to 1
Shadow Cascades 4Split Y = 0.136232

# Setting type: Single
# Default value: 0.256522
# Acceptable value range: From 0 to 1
Shadow Cascades 4Split Z = 0.256522

