## Settings file was created by plugin StudioSelectNewObjectOnCopy v1.0.0
## Plugin GUID: org.njaecha.plugins.selectnewobjectoncopy

[_General_]

## If enabled, the game will automatically select the new object(s) when copying
# Setting type: Boolean
# Default value: true
plugin enabled = true

