## Settings file was created by plugin PictureInPicture v1.0.1
## Plugin GUID: org.njaecha.plugins.pictureinpicture

[Keybinds]

## Press this add open a Picture in Picture window
# Setting type: KeyboardShortcut
# Default value: P + LeftAlt
add PiP = P + LeftAlt

[Quality]

## Resolution of the picture in picture camera.
# Setting type: Int32
# Default value: 720
height = 2880

## Resolution of the picture in picture camera.
# Setting type: Int32
# Default value: 1280
width = 3840

