## Settings file was created by plugin PoseLibrary v1.3.0
## Plugin GUID: org.fox.poselib

[General]

# Setting type: KeyboardShortcut
# Default value: N + RightControl
Open Window = N + RightControl

# Setting type: String
# Default value: PoseLib_${Date} ${Time}
Default Name = PoseLib_${Date} ${Time}

