## Settings file was created by plugin TreeNodeOrdering v2.0.1
## Plugin GUID: org.njaecha.plugins.treenodeordering

[Values]

## The time in second you have to press and hold the TreeNodeObject to start dragging
# Setting type: Single
# Default value: 0
# Acceptable value range: From 0 to 0.9
P&H Time = 0

