## Settings file was created by plugin PantyFairy v1.0.2
## Plugin GUID: PantyFairy

[Cheats]

## Allow using all skills and progressing through the side story without leveling up the H stat.
# Setting type: Boolean
# Default value: false
Skip H stat checks = false

## Allow using all skills without progressing the side story. WARNING: Might mess up the side story progression!
# Setting type: Boolean
# Default value: false
Always unlock all powers = false

