## Settings file was created by plugin Darkness with strawberry flavor v0.3
## Plugin GUID: picolet21.koikatsu.DarknessWithStrawberryFlavor

[]

## Allow the player to darkness with anyone. However, all personalities of characters that do not support Darkness will be replaced by Darkness-capable personalities.
# Setting type: Boolean
# Default value: true
Darkness with anyone = true

## Change the darkness to a consensual atmosphere when the character is a Novice. This option will return the character's personality to the original personality.
# Setting type: Boolean
# Default value: false
Make Novice a Strawberry Flavor = false

## Change the darkness to a consensual atmosphere when the character is a Expert. This option will return the character's personality to the original personality.
# Setting type: Boolean
# Default value: true
Make Expert a Strawberry Flavor = true

## Change the darkness to a consensual atmosphere when the character is a Lewd. This option will return the character's personality to the original personality.
# Setting type: Boolean
# Default value: true
Make Lewd a Strawberry Flavor = true

## Change the darkness to a consensual atmosphere when the character is a Lover. This option will return the character's personality to the original personality.
# Setting type: Boolean
# Default value: true
Make Lover a Strawberry Flavor = true

## Change the BGM for Darkness.
# Setting type: Boolean
# Default value: false
Change BGM = false

