[RendererEditor]

## Enables texture previewing
# Setting type: Boolean
# Default value: true
previewTextures = true

## The width of the window
# Setting type: Single
# Default value: 604
windowWidth = 604

## The height of the window
# Setting type: Single
# Default value: 670
windowHeight = 670

## Enables default texture compression
# Setting type: Boolean
# Default value: true
compressTexturesByDefault = true

