## Settings file was created by plugin RSkoi_ComponentUtil v1.4.2
## Plugin GUID: RSkoi_ComponentUtil

[Config]

## How long ComponentUtil should wait in seconds after a scene is loaded before applying tracked changes. Try setting this higher if after loading a scene the changes saved with ComponentUtil seem to be overwritten.
# Setting type: Single
# Default value: 2
Wait time after scene load = 2

## Whether ComponentUtil should apply related saved data on scene load. Set to false for debugging purposes or if a scene fails to load due to ComponentUtil.
# Setting type: Boolean
# Default value: true
Apply data on scene load = true

## Whether ComponentUtil should save related data on scene save. Set to false for debugging purposes or if you want to save a 'clean' scene with no edits.
# Setting type: Boolean
# Default value: true
Save data on scene save = true

[Config - UI]

## How many items to display in the transform / component list per page. Don't set this too high.
# Setting type: Int32
# Default value: 9
Items per page = 9

## Scales the UI to given factor. Re-toggle ComponentUtil window for the change to apply.
# Setting type: Single
# Default value: 0.7
UI scale = 0.7

## Scale the TransformList window to given factors in width (X) and height (Y). Re-toggle ComponentUtil window for the change to apply.
# Setting type: Vector2
# Default value: {"x":1.0,"y":1.0}
TransformList window scale = {"x":1.0,"y":1.0}

## Scale the ComponentList window to given factors in width (X) and height (Y). Re-toggle ComponentUtil window for the change to apply.
# Setting type: Vector2
# Default value: {"x":1.0,"y":1.0}
ComponentList window scale = {"x":1.0,"y":1.0}

## Scale the ComponentAdder window to given factors in width (X) and height (Y). Re-toggle ComponentUtil window for the change to apply.
# Setting type: Vector2
# Default value: {"x":1.0,"y":1.0}
ComponentAdder window scale = {"x":1.0,"y":1.0}

## Scale the ComponentInspector window to given factors in width (X) and height (Y). Re-toggle ComponentUtil window for the change to apply.
# Setting type: Vector2
# Default value: {"x":1.0,"y":1.0}
ComponentInspector window scale = {"x":1.0,"y":1.0}

## Scale the ObjectInspector window to given factors in width (X) and height (Y). Re-toggle ComponentUtil window for the change to apply.
# Setting type: Vector2
# Default value: {"x":1.0,"y":1.0}
ObjectInspector window scale = {"x":1.0,"y":1.0}

[Keyboard Shortcuts]

## Toggle the UI of ComponentUtil.
# Setting type: KeyboardShortcut
# Default value: M + RightControl
Toggle UI = M + RightControl

