## Settings file was created by plugin Sex Faces v1.3.0
## Plugin GUID: Sauceke.SexFaces

[]

# Setting type: Int32
# Default value: 0
Ignore this = 0

[Timing]

## Minimum timeout for switching between faces.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 1 to 60
Minimum switch time (seconds) = 5

## Maximum timeout for switching between faces.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 60
Maximum switch time (seconds) = 20

## Switch between faces at random intervals between these two values.
# Setting type: String
# Default value: Ignore this
Face Switch Time Range = Ignore this

