## Settings file was created by plugin SliderHighlight v2.2
## Plugin GUID: SliderHighlight

[Maker Highlights]

## Enable showing highlights when hovering over sliders in character maker.
# Setting type: Boolean
# Default value: true
Slider Highlights = true

## Enable showing highlights when hovering over accessory slots in character maker.
# Setting type: Boolean
# Default value: true
Accessory Highlights = true

## Color of the highlight. Avoid using transparent colors.
# Setting type: Color
# Default value: 00FF00FF
Color = 00FF00FF

