## Settings file was created by plugin Axis Unlocker v1.1.0.9
## Plugin GUID: starstorm.axisunlocker

[General]

## Use a logarithmic slider for the guideobject scaling factor. This enables finer control across very different sizes.
# Setting type: Boolean
# Default value: true
Logarithmic axis size = true

## Show the current value of the slider in a box above the cursor while using the B + Right click-drag shortcut
# Setting type: Boolean
# Default value: true
Show axis size = true

## New cap value for the System/Options/Size slider
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0.01 to 1
New min size = 0.1

## New cap value for the System/Options/Size slider
# Setting type: Single
# Default value: 10
# Acceptable value range: From 4 to 100
New max size = 10

## Use a logarithmic slider for the object move speed factor. This enables finer control for very different speeds.
# Setting type: Boolean
# Default value: true
Logarithmic move speed = true

## Show the current value of the slider in a box above the cursor while using the B + Left click-drag shortcut
# Setting type: Boolean
# Default value: true
Show move speed = true

## New minimum value for the System/Options/Speed slider
# Setting type: Single
# Default value: 0.01
# Acceptable value range: From 0.001 to 0.1
New min speed = 0.01

## New cap value for the System/Options/Speed slider
# Setting type: Single
# Default value: 10
# Acceptable value range: From 5 to 100
New max speed = 10

[Hidden]

## B
# Setting type: KeyboardShortcut
# Default value: B
Move change hotkey = B

