## Settings file was created by plugin Light Toggler v1.0.0.9
## Plugin GUID: starstorm.lighttoggler

[General]

## Enable or disable the plugin entirely.
## Requires reloading the scene to take effect.
# Setting type: Boolean
# Default value: true
Enable plugin = true

