## Settings file was created by plugin Koikatsu Shader Fixer v1.2.0.9
## Plugin GUID: starstorm.shaderfixer

[General]

## Specify filters for which shaders (partial name) should be affected. Separate tokens with commas. Spaces and casedon't matter. A '-' sign in the front denotes a negative filter. Changes take effect on scene reload and on newlyadded or changed items (shaders).
# Setting type: String
# Default value: KKUSS, KKUTS
Shader filter = KKUSS, KKUTS

## The texture properties to be affected. Must be the full name of the property as it appears in Material Editor.Separate tokens with commas. Spaces don't matter, but case does.
# Setting type: String
# Default value: NormalMap, BumpMap
Properties = NormalMap, BumpMap

