## Settings file was created by plugin Cursor Indicator v1.0.0.9
## Plugin GUID: starstorm.cursorindicator

[General]

## Whether to show the cursor position on screen. Useful in case your cursor won't show on recordings but you'd really rather it did.
# Setting type: Boolean
# Default value: false
Enabled = false

