## Settings file was created by plugin Performancer v1.2.5.9
## Plugin GUID: starstorm.performancer

[Advanced]

# Setting type: Boolean
# Default value: false
Log Performance Numbers = false

[General]

# Setting type: Boolean
# Default value: true
Optimise GuideObject LateUpdate = true

## REQUIRES GuideObject LateUpdate optimisation
# Setting type: Boolean
# Default value: true
Optimise Dynamic Bones = true

