## Settings file was created by plugin Mass Shader Editor v1.4.0.9
## Plugin GUID: starstorm.massshadereditor

[Advanced]

## Disable the warning screen for the 'Modify ALL' function.
# Setting type: Boolean
# Default value: false
Disable warning = false

## Enable verbose logging for debugging purposes
# Setting type: Boolean
# Default value: false
Logging = false

## Whether the intro message has been shown already
# Setting type: Boolean
# Default value: false
Intro Shown = true

[Data]

## The 10 previously set property name/value pairings
# Setting type: String
# Default value: 
Float History = 

## The 10 previously set property name/color pairings
# Setting type: String
# Default value: 
Color History = 

## Favorited shaders that will show up at the top of the shaders dropdown
# Setting type: String
# Default value: 
Favorite Shaders = 

## Favorited renderer filters that will show up at the top of the filters dropdown
# Setting type: String
# Default value: 
Favorite Renderer Filters = 

## Favorited material filters that will show up at the top of the filters dropdown
# Setting type: String
# Default value: 
Favorite Material Filters = 

[General]

## Can also be set via the built-in settings panel
# Setting type: Single
# Default value: 1.5
# Acceptable value range: From 1 to 3
UI Scale = 1.5

# Setting type: Boolean
# Default value: true
Show tooltips = true

## Whether to save texture edit history to disk. May slow down the game when editing lots of big textures.
# Setting type: Boolean
# Default value: false
Save textures = false

## Whether the miscellaneous body parts like eyes/tongue/noseline/penis/etc should be affected. In Maker and if enabled, only 'Modify ALL' will affect them.
# Setting type: Boolean
# Default value: false
Affect misc body parts = false

[Hotkeys]

## The key used to toggle the plugin's UI
# Setting type: KeyboardShortcut
# Default value: M
UI Toggle = M

## Simulate left-clicking 'Modify Selected'
# Setting type: KeyboardShortcut
# Default value: None
Modify Selected = 

## Simulate right-clicking 'Modify Selected'
# Setting type: KeyboardShortcut
# Default value: None
Reset Selected = 

## Simulate left-clicking 'Modify ALL'
# Setting type: KeyboardShortcut
# Default value: None
Modify ALL = 

## Simulate right-clicking 'Modify ALL'
# Setting type: KeyboardShortcut
# Default value: None
Reset ALL = 

[Maker]

## Whether 'Modify ALL' will affect hair accessories while editing hair and skip them while editing accessories.
# Setting type: Boolean
# Default value: false
Hair accs are hair = false

## Makes the selection process use the same logic as it does in Studio, disregarding whichever maker tab you're currently on. This assumes that the currently edited character is selected at all times.
# Setting type: Boolean
# Default value: false
Use Studio Selections = false

[Studio]

## Whether 'Modify Selected' will affect items that are inside selected folders.
# Setting type: Boolean
# Default value: false
Dive folders = false

## Whether 'Modify Selected' will affect items that are the children of selected items.
# Setting type: Boolean
# Default value: false
Dive items = false

## Whether 'Modify Selected' and 'Modify ALL' will affect characters at all.
# Setting type: Boolean
# Default value: false
Affect characters = false

## Whether the 'Set ...' buttons will affect characters' faces and bodies.
# Setting type: Boolean
# Default value: false
Affect character bodies = false

## Whether the 'Set ...' buttons will affect characters' hair, including hair accs.
# Setting type: Boolean
# Default value: false
Affect character hair = false

## Whether the 'Set ...' buttons will affect characters' clothes.
# Setting type: Boolean
# Default value: false
Affect character clothes = false

## Whether the 'Set ...' buttons will affect characters' accessories, excluding any hair.
# Setting type: Boolean
# Default value: false
Affect character accessories = false

## Whether the 'Set ...' buttons will affect characters' held items (items parented to characters).
# Setting type: Boolean
# Default value: false
Affect character items = false

