## Settings file was created by plugin AAAAAAAAAAAA v1.2.2.9
## Plugin GUID: starstorm.aaaaaaaaaaaa

[General]

## Log debug messages
# Setting type: Boolean
# Default value: false
Debug = false

