## Settings file was created by plugin Light Settings v1.2.0.9
## Plugin GUID: starstorm.lightsettings

[0. Advanced]

## Enable verbose logging for debugging purposes
# Setting type: Boolean
# Default value: false
Logging = false

[1. General]

## Enable/disable the plugin entirely. You need to save/reload the scene after changing this. Changes take effect on Studio restart.
# Setting type: Boolean
# Default value: true
Enable plugin = true

## Enable unified control over map lights. This causes issues in maps with multiple lights. Changes take effect on Studio restart.
# Setting type: Boolean
# Default value: false
Control Map Lights = false

## How the character light on/off toggle will be handled. Changes take effect on Studio restart.
# Setting type: String
# Default value: Cramped
# Acceptable values: None, Cramped, Below Vanilla
Character light toggle = Cramped

[2. Default Shadow Resolutions]

## Set the shadow resolution of directional lights to this value if they spawn with automatic resolution. Set to -1 to disable.
# Setting type: Int32
# Default value: 4096
# Acceptable values: -1, 512, 1024, 2048, 4096, 8192, 16384
Directional = 4096

## Set the shadow resolution of spot lights to this value if they spawn with automatic resolution. Set to -1 to disable.
# Setting type: Int32
# Default value: 2048
# Acceptable values: -1, 512, 1024, 2048, 4096, 8192, 16384
Spot = 2048

## Set the shadow resolution of point lights to this value if they spawn with automatic resolution. Set to -1 to disable.
# Setting type: Int32
# Default value: 1024
# Acceptable values: -1, 512, 1024, 2048, 4096, 8192, 16384
Point = 1024

