## Settings file was created by plugin Better Scaling v1.2.0.9
## Plugin GUID: starstorm.betterscaling

[Advanced]

## REQUIRES RESTART! Enable toggling of hierarchy scaling. Mark objects in the Workspace window. Marked objects will scale their direct children by their own scale. DO NOT save / modify current scene after changing this setting! WARNING: Toggling this off (default is ON) might break compatibility with scenes created with this setting turned ON.
# Setting type: Boolean
# Default value: true
Hierarchy scaling = true

## Auto-adjust item scaling when toggling hierarchy-scaling or parenting to/releasing an item from a hierarchy-scaled object, in order to maintain a constant apparent size. WARNING: Toggling this off (default is ON) might break compatibility with scenes created with this setting turned ON.
# Setting type: Boolean
# Default value: true
Auto-adjust scales = true

[Debug]

## Enable verbose logging
# Setting type: Boolean
# Default value: false
Logging = false

[General]

## REQUIRES RESTART! Enable/disable the plugin entirely. DO NOT save / modify current scene after changing this setting!
# Setting type: Boolean
# Default value: true
Enable plugin = true

## Makes it possible to scale folders. You need to save/reload the scene after changing this.
# Setting type: Boolean
# Default value: true
Scale folders = true

## The bigger the scale, the faster it scales! And the smaller the scale, the slower it goes. Allows better control across all scales.
# Setting type: Boolean
# Default value: true
Logaritchmic scaling = true

## Makes it impossible to scale anything to 0 on any axis, because that makes objects disappear. The minimum scale on any axis is one one millionth. Does not prevent negative scales.
# Setting type: Boolean
# Default value: true
Prevent zero-scale = true

