## Settings file was created by plugin Extra move axis in bottom right corner v2.0
## Plugin GUID: StudioExtraMoveAxis

[Extra gizmos]

## Show extra set of gizmos in the bottom right corner of the screen. An object must be selected for gizmo to be visible.You can use left toolbar to turn the gizmo on or off.
# Setting type: Boolean
# Default value: false
Show extra move gizmo = true

## If true, using the extra XYZ move gizmo is the same as using the default gizmo on the currently selected object (so direction of the arrow may not be the same as direction of movement).
## If false, current camera position is used as the reference frame, so using the extra XYZ gizmo will move the object to where the gizmo arrows are actually pointing.
## Change currently selected object to apply the setting.
# Setting type: Boolean
# Default value: true
Use selected object as reference = true

