## Settings file was created by plugin KK_StudioWindowResize v1.1.1
## Plugin GUID: StudioWindowResize

[Expand]

## How much to expand the lists by. Arbitrary units. 0 is roughly the same as default. 0.5 fills almost the entire screen under default UI scale. only use values above 0.5 if you change UI scale with another plugin. Needs a studio restart to apply.
# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 1
Amount of height expansion = 0.3

## Increase height of the add girl / guy character lists. Warning: Might interfere with some other plugins that modify the UI. It will overlap with the FolderBrowser plugin until it's updated. Needs a studio restart to apply.
# Setting type: Boolean
# Default value: false
Character lists = false

## Increase height of the add item / map / light / frame / etc. lists. Needs a studio restart to apply.
# Setting type: Boolean
# Default value: true
Item and map lists = true

## Increase height of the anim/Curent State list. Needs a studio restart to apply.
# Setting type: Boolean
# Default value: true
Chara State list = true

## Increase height of the anim/Kinematics/Pose list. Warning: Might interfere with some other plugins that modify the UI. Needs a studio restart to apply.
# Setting type: Boolean
# Default value: true
Pose list = true

## Increase height of the anim/Kinematics/Costume (coordinate / outfit) list. Warning: Might interfere with some other plugins that modify the UI. It will overlap with the FolderBrowser plugin until it's updated. Needs a studio restart to apply.
# Setting type: Boolean
# Default value: false
Costume list = false

## Increase height of the anim/Animation lists.
# Setting type: Boolean
# Default value: true
Animation lists = true

## Increase height of the Image Board list. Needs a studio restart to apply.
# Setting type: Boolean
# Default value: true
Image Board list = true

## Increase height of the sound/BGM lists. Needs a studio restart to apply.
# Setting type: Boolean
# Default value: true
Sound lists = true

## Increase height of the system / Option and Screen Effect lists. Needs a studio restart to apply.
# Setting type: Boolean
# Default value: true
Effect lists = true

