## Settings file was created by plugin Studio Camera Tweaks v1.0
## Plugin GUID: StudioCameraTweaks

[Camera Object]

## Should clicking the Camera button in Workspace window spawn the new camera at the current viewport camera position?
## The deafault is to spawn the new camera object at either origin point or current cursor position.
# Setting type: Boolean
# Default value: true
Spawn at current camera position = true

## Automatically disable newly spawned camera objects in the workspace.
## This will cause their gizmo to not appear, but they will still function normally.
## Useful when spawning at current camera position to not obscure the view.
# Setting type: Boolean
# Default value: true
Hide newly created camera objects = true

